[2013-05-20 18:32] benzittlau opened #3 "Can't install with composer"
Attempting to install with composer I'm getting the following from composer

[code]

I'm going to investigate further to see if I can resolve the problem, but any insight would be welcome.

[2013-05-21 03:33] #3 closed, assigned to nobody

[2013-05-21 04:18] adri opened #5 "Curl interception: Alternative to runkit extension"
Idea: Overwrite `curl_*` functions by intercepting `require`/`include` calls and rewriting included source code on the fly.

First draft:

[code]

[2013-06-05 11:00] #5 closed, assigned to nobody

[2013-07-22 19:10] edwin-bluekite opened #7 "Fail running test"
Hi I'm running php-vcr tests with Guzzle 3.7.

And I get the error
PHP Fatal error:  Cannot use object of type Guzzle\Http\Message\Header as array in /opt/app/framework/vendor/adri/php-vcr/src/VCR/Response.php on line 33

When the test  testShouldInterceptStreamWrapper() is runned.

Then I modified the line
https://github.com/adri/php-vcr/blob/master/src/VCR/Response.php#L32
for something like

[c

[2013-10-13 16:04] #7 closed, assigned to nobody

[2013-10-17 20:43] adri opened #11 "[SOAP] WSDL request not intercepted yet"
Although the actual soap method call is intercepted correctly there are actually two request when a SOAP action is performed:
- Receiving the WSDL, for example `http://wsf.cdyne.com/WeatherWS/Weather.asmx?WSDL`
- POSTing the `http://wsf.cdyne.com/WeatherWS/Weather.asmx` with `<?xml version="1.0...`

The first part is not done yet.

[2013-10-18 07:18] adri opened #12 "Try to find a way to change the Configuration while PHP-VCR is turned on"
It might be confusing to turn on and off VCR just to change a configuration option. Probably it is possible to change the configuration while VCR is turned on as well.

[2013-10-18 07:20] adri opened #13 "Configuration change setter for white/blacklist to add*listPath()"
Default paths which are needed are currently overwritten when setting a blacklist.

[2013-10-18 07:20] adri opened #14 "Logging"
Some logging would be nice :-)

[2013-10-21 21:23] lapistano opened #16 "[Util/Streamprocessor] PHP file detection"
Currently the Steamprocessor does not recognize files other than those using »php« as file extension as a PHP file and therefore will not process its' contents probably to be replaced in order to make it possible to intercept a request and/or response.

Common extensions for a PHP file might also be:
*.inc
*.php(\d?)  //like *.php4 or *.php5
*.phtml
*.cgi
- ...

[2013-10-22 19:38] adri opened #18 "Improve performance of StreamProcessor"
Because `stream_wrapper_register('file', __CLASS__);` creates a new instance of `StreamProcessor` on every `intercept()` call, which we do once every include. Maybe we can avoid this?

[2013-10-25 10:18] adri opened #19 "Add request and response body formatter for more readable recordings."
For easier debugging and general readability it would be nice to have `post_fields` and `body` **formatted** in the yaml file.

For example, when calling a elastic search server the recording of a http interaction looks like this at the moment:

[code]

I suggest formatters for JSON and XML.

[2013-11-10 15:32] adri opened #20 "Implement fsockopen() interception?"
[fsockopen](http://www.php.net/manual/en/function.fsockopen.php) communicates directly using the created socket connect. Overwriting `fsockopen()` calls with a `StreamProcessor` and creating an intercepting implementation should be possible. Any need for that?

[2013-11-13 17:39] WishCow opened #21 "[solved] Cassette path '/tmp/vcr' doesn't exist."
**edit**

I figured it out. The init system that I use (systemd) has a notion if "private tmp", which makes the process see an isolated /tmp directory, which is not the same as the /tmp on the disk. Sorry bout that.

I know this is one of the most basic things, but I'm 100% sure that the directory exists, and I can't figure out what's wrong. I'm trying to make php-vcr save the responses to a file:

[2013-11-13 18:07] WishCow opened #22 "Empty cassette file after request"
I'm not sure if I'm using the library incorrectly, but I can't seem to get it to save requests sent with Guzzle:

[code]

After running this code, a file does appear in in the cassette directory, but it's totally empty.

Am I using the library incorrectly?

[2013-12-12 18:19] edwin-bluekite opened #23 "Casset recorded but is not used in the next request"
Hello I have VCR properly configured and it records the cassette, but when I run the test again it makes the HTTP request again without using the cassette.

Question, the HTTP response code is changed after the first request, could that be the reason or is other issue?

[2013-12-12 18:28] #23 closed, assigned to nobody

[2013-12-29 13:39] damour opened #24 "Exception "The YAML value does not appear to be valid UTF-8""
If response body was compressed gzcompress function, we have next exception:

PHP Fatal error:  Uncaught exception 'Symfony\Component\Yaml\Exception\ParseException' with message 'The YAML value does not appear to be valid UTF-8.' in /var/www/site1.com/vendor/symfony/yaml/Symfony/Component/Yaml/Parser.php:58\nStack trace:\n#0 /var/www/site1.com/vendor/php-vcr/php-vcr/src/VCR/Storage/Yaml.php(57): S

[2014-01-07 03:23] JeffreyWay opened #25 "Always CurlException When Using Guzzle"
Apologies if I'm showing my naivety here. I started using this package today, and everything works great -- except when I hook into Guzzle. Here's an example:

[code]

When I run phpunit, I get:

[code]

...and the fixtures/test file is created, but it's blank. If I comment out all the VCR method calls, the Guzzle HTTP request goes through, per usual.

I've tested PHP-VCR with file_get_contents()

[2014-01-07 03:39] #25 closed, assigned to nobody

[2014-01-12 10:53] beijer opened #26 "Update guzzle dependency"
Is it possible to update the dependency of guzzle to 3.8?
I'm using guzzle in a project where I need 3.8 but it will collide with php-vcr.

[2014-01-12 11:46] #26 closed, assigned to nobody

[2014-01-12 14:58] beijer opened #28 "Guzzle request not intercepted when called in a PHPUnit test case"
Hi,

When I only use guzzle all works fine:

[code]

But the time I use vcr, guzzle will get a bad response and the fixture remains empty:

[code]

[code]

[2014-01-20 09:02] kasperg opened #33 "StreamProcessor: Stat missing file causes exception"
I have a project which [autoloads classes for a namespace from multiple directories](https://github.com/wsdl2phpgenerator/wsdl2phpgenerator/blob/master/composer.json#L10).

After integrating PHP-VCR [an exception is thrown when the Composer autoloader first tries to include the class](https://travis-ci.org/wsdl2phpgenerator/wsdl2phpgenerator/jobs/17256236) from the first directory (where the file

[2014-01-23 20:47] #33 closed, assigned to nobody

[2014-01-23 20:50] adri opened #36 "Add more information when things go wrong"
If a invalid HTTP request is detected it would be nice to have additional information like the url, parameters (...) about the invalid request.

The current exception message is:

[code]

[2014-01-23 20:51] #21 closed, assigned to nobody

[2014-01-31 15:26] #14 closed, assigned to nobody

[2014-01-31 15:29] #24 closed, assigned to lapistano

[2014-01-31 15:31] adri opened #40 "Behat integration"
Just like in PHPUnit it would be nice to have `@vcr` annotations in Behat. See [rubys VCR usage in cucumber](https://www.relishapp.com/vcr/vcr/v/2-8-0/docs/test-frameworks/usage-with-cucumber).

[2014-01-31 15:32] #22 closed, assigned to nobody

[2014-01-31 15:34] #18 closed, assigned to nobody

[2014-02-21 15:35] #28 closed, assigned to nobody

[2014-02-24 19:39] peterfox opened #45 "Non GET HTTP requests"
Is this framework meant to work with non GET requests such as POST because at current I've found that any requests made using POST break my tests and the results inside the yml fixtures show that they're GET requests instead of POST requests.

I'm using Guzzle and therefore Curl in my library that I am testing.

If non GET requests aren't supported it should really be mentioned clearly on the Docu

[2014-02-27 12:18] #45 closed, assigned to nobody

[2014-03-01 03:57] peterfox opened #47 "Guzzle Request Posts are Null"
Sorry to bring up another issue but in 1.1.1 it works for post requests but in the fixtures generated from the requests it's not saving the request body meaning that tests which use the same cassette and url will collide. I'm not sure if this is intentional or not?

An example can be seen in running the tests from my library, in tests/fixtures/CreateInvoice_Working there's no post body when the AP

[2014-03-12 02:46] rayward opened #48 "Curl post body is converted into form fields"
When setting request body using `CURLOPT_POSTFIELDS` to a json string (or anything for that matter), php-vcr converts the body into post fields which mangles the request.

Example curl:

[code]

[code]

Here's the resulting cassette:

[code]

Here's the request from requestbin:

[2014-03-12 19:27] #48 closed, assigned to nobody

[2014-03-12 19:30] #47 closed, assigned to nobody

[2014-04-06 15:53] beijer opened #49 "CurlHelper::handleOutput() must be an instance of VCR\Response, null given"
I'm getting this error while trying to use vcr and I can't find the solution to the problem:

[code]

The fixture is getting the info it should recieve:

[code]

[2014-04-17 22:00] b01 opened #51 "Segmentation fault when using \VCR\VCR::turnOn() in bootstrap.php"
I'm trying to intercept curl request. But when I add VCR in my bootstrap like so:
require_once **DIR** . '/../vendor/autoload.php';
\VCR\VCR::turnOn();

then run:
    $ ./vendor/bin/phpunit -c tests/phpunit.xml

I get:

[code]

---

My Info:
 I am using a phpunit.xml with a bootstrap.php file.
PHP 5.4.16 (cli) (built: Jul 29 2013 09:45:31)
curl 7.19.7 (x86_64-redhat-linux-gnu) libcurl/7.19.7 NSS/3

[2014-04-22 22:42] janhartigan opened #54 "Curl response not working with Balanced Payments"
So I've created a test marketplace for this issue so that you can try this. Install the latest [`balanced-php`](https://github.com/balanced/balanced-php) from composer and run the following:

[code]

Without fail, I get this error:

[code]

I tried setting up a simple test that exactly replicates the curl options set by doing this:

[code]

...but when I do this, I can't even get php-vcr to interc

[2014-04-24 08:42] weblee opened #55 "PHPSpec Integration"
This would be cool to work with phpspec as well. http://www.phpspec.net/

[2014-04-25 13:36] #54 closed, assigned to nobody

[2014-04-25 14:00] adri opened #57 "Symfony 2 Profiler integration"
The idea would be to provide a HTTP interaction tab to the symfony profiler during development to inspect all HTTP requests which have been issued. This is not the use case PHP-VCR was developed for but it would be cool.

Any interest in that?

[2014-04-25 14:18] #49 closed, assigned to nobody

[2014-04-27 12:58] #51 closed, assigned to nobody

[2014-04-27 13:14] b01 opened #58 "Prefix any curl method with "\" causes a parse error"
Problem: When I prefix any curl method with "\" I get parse error:

Parse error: syntax error, unexpected '\' (T_NS_SEPARATOR), expecting identifier
 (T_STRING) in E:\Khalifah\Projects\slib\src\Kshabazz\Slib\HttpRequester.php on
line 111

Work-a-round: Removed the backslash from curl methods.

Background: I prefix global functions with a backslash to refer to the global namespace, I don't have to,

[2014-04-27 13:34] b01 opened #59 "curl_getinfo() returns an array with all values set to NULL"
When I use PHP-VCR to intercept curl request, even though VCR records the request successfully; curl_getinfo() returns an array with all values set to NULL

The class I use curl in is here: https://github.com/b01/slib/blob/master/src/Kshabazz/Slib/HttpRequester.php#L113

The unit test is here: https://github.com/b01/slib/blob/master/tests/Kshabazz/Slib/HttpRequesterTest.php#L101

[2014-04-27 13:50] #58 closed, assigned to nobody

[2014-05-06 21:36] tylercollier opened #62 ""Disables all HTTP requests that you don't explicitly allow""
I see this written in several places of documentation: `"Disables all HTTP requests that you don't explicitly allow"`, but it doesn't seem true for me. I am using a cassette, and the http request details must have changed, because it's telling me:

[code]

Thank goodness I used `fakeurl`, because otherwise it would be contacting the live system (unfortunately I don't have a sandbox test system).

[2014-05-07 08:34] matjack1 opened #63 "Curl malformed url"
Hello,
I'm trying to use php-vcr which will improve a lot the testability of our system, but I have a problem.
I get this error which I cannot understand:
```Guzzle\Http\Exception\CurlException: [curl] 3: <url> malformed [url]```
I'm testing an interaction with Amazon SQS in a Yii/PHPunit test suite.

I'm starting php-vcr in the ```bootstrap.php``` file like so:
[code]
and then the ```setUpBeforeC

[2014-05-23 10:03] alexlangberg opened #64 "SoapFault: SOAP-ERROR: Parsing WSDL: Couldn't load from..."
I'm trying to use this with:

- phpunit-testlistener-vcr
- Laravel 4.1.29
- PHP 5.5.6 (soap is turned on, have checked in php -i)
- Windows

I have a test which calls a SOAP WSDL with SoapClient. It works fine, until I put this before it:
[code]
This creates an empty fixture but now the test fails with this:
*SoapFault: SOAP-ERROR: Parsing WSDL: Couldn't load from 'https://api.e-conomic.com/secure

[2014-06-06 17:30] sword opened #65 "Curl Helper passes all headers as a block if CURLOPT_HEADERFUNCTION is set"
In CurlHelper line 59, $response->getRawHeaders() returns for me a string containing newlines:
"HTTP/1.1 200 OK
 Server: spray-can/1.3.1b
 Date: Wed, 21 May 2014 07:52:49 GMT
 Content-Type: application/json; charset=UTF-8
 Content-Length: 375
 "
call_user_func on line 60 invokes Guzzle\Http\Curl\RequestMediator->receiveResponseHeader() - (note, a singular method) but this method only parses a sing

[2014-07-27 02:44] janhartigan opened #66 "Matching URL seems to not be working with curl requests"
I noticed that my cassettes were being recorded, but the recorder couldn't resolve cassettes (even ones that were just created). I tracked it down to [the matchUrl method in the RequestMatcher class](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/RequestMatcher.php#L23-L42):

[code]

Here are the contents of the cassette:

[code]

Now the problem seems to be in how it's comparing the URLs.

[2014-08-09 19:29] b01 opened #67 "php-vcr unit test fail on Windows 7"
Trying to run unit test on latest master branch fails. Could it be that PHP-VCR is overwriting its own class?

On windows 7, with PHP 5.6 RC3

[code]

[2014-08-11 01:44] b01 opened #68 "Unit test errors when using \LOCK_EX with \file_put_contents."
It seems that PHP-VCR is causing an issue when you try to acquire an exclusive lock on a file with file_put_contents. I have been able to narrow it down to this line: \file_put_contents( $pFileName, $pContent, \LOCK_EX );

I'm using Windows 7, 64-bit with:

[code]

If I do NOT remove the LOCK_EX parameter, I get the following error if PHP-VCR is turned on in my  bootstrap file:

[code]

I have a f

[2014-08-16 21:55] #68 closed, assigned to nobody

[2014-09-01 13:37] emileswarts opened #71 "PHP-VCR with behat"
Hi

Thanks for this library.
I cannot seem to find too much on the subject of using VCR with Behat.

I can get the following to execute and write the recording in Behat:

[code]

But this doesn't work:

[code]

Is this a reasonable thing to try and do with php-vcr?

[2014-11-07 01:01] lkysow opened #76 "Modifying length of file can break VCR integration"
**Tl;dr: Changing the length of your file by adding/removing code can break PHP VCR.**
### How The Code Works

PHP VCR modifies files when they're being read from the filesystem through the use of PHP's `php_user_filter` (http://php.net/manual/en/class.php-user-filter.php).

When a file is read from the filesystem, it goes through this function in PHP VCR

[code]

which calls  `transformCode($code

[2014-11-13 17:17] Harrisonbro opened #78 "Guzzle v3 causing issues with other packages requiring Guzzle v4"
I'm trying to use VCR with another package which uses `"guzzlehttp/guzzle": "4.2.2"` but because VCR is using `"guzzle/http": "3.*"` I'm getting an error:

[code]

I've spoken to the maintainer of the other package, [`omniphx/forrest`](https://github.com/omniphx/forrest), in some depth about it in [issue 17](https://github.com/omniphx/forrest/issues/17) on his repository and full details of the er

[2014-11-18 19:45] #65 closed, assigned to nobody

[2014-11-26 08:38] #59 closed, assigned to nobody

[2014-11-26 08:39] #62 closed, assigned to nobody

[2014-11-26 08:42] #40 closed, assigned to nobody

[2014-11-26 17:20] #57 closed, assigned to nobody

[2014-12-12 12:23] alexdomsa opened #84 "Using YML cassette results in "Segmentation fault: 11""
The memory limit set in php.ini on my machine is: memory_limit = 1024M

In the cassette we have a response which contains 163750 characters on a single line.
When we use JSON format the tests are working as expected, but when YML format is used we end up with "Segmentation fault: 11".

I suspect there is an issue with YmlParser (which is not a component developed by you), so I was wondering why YM

[2014-12-16 12:53] alexdomsa opened #85 "Wrong JSON stored in cassette"
I have a test which uses file "testSearch.json" as cassette.

If the file does not already exist before running the test, the JSON stored in it is correct:
[code]

If the file already exists and is blank, will store a wrong JSON:
[code]
We can see that the leading square bracket is missing

[2015-01-09 09:25] adri opened #89 "Implement PSR7 HTTP message interfaces"
https://github.com/php-fig/fig-standards/blob/master/proposed/http-message.md

[2015-01-09 11:42] adri opened #90 "Compatibility with HHVM"
Issue to track compatibility issues with HHVM
- [ ]  [HHVM] constructor for php_user_filter requires three internal parameters

[2015-01-11 13:25] #78 closed

[2015-01-11 13:26] adri commented on #78
Just merged the "removal of Guzzle" branch. There are integration tests now with different Guzzle versions and Soap. Please let me know if there are problems.

[2015-01-11 20:46] adri commented on #85
Fixed with #91.

[2015-01-11 20:46] #85 closed

[2015-01-12 19:53] adri commented on #63
Since the latest master branch, php-vcr itself doesn't depend anymore on Guzzle. It might be, that this error is gone now. I know its been a while ;-)

If you find some time, please check if this issue can be closed.

[2015-01-13 09:11] adri commented on #71
Actually it would be nice to integrate behat some day as it seems there is a need for it.
Integrating can get simpler once #86 is merged. I would like to keep this issue open for further references.

[2015-01-19 11:42] matjack1 commented on #63
Hi @adri thanks! I've tried again and now I've got this error:

```VCR\VCRException: Invalid HTTP status '', expected format like: 'HTTP/1.1 200 OK'.```

I bet is some weirdness in the Amazon library. I don't know if it's worth to keep the issue open :)
Sadly at the moment we cannot upgrade the library so I don't want to blame php-vcr for the problem ;)

[2015-01-19 18:48] tylercollier opened #94 "Feature request: indicate why cassette does not have necessary response"
I got this message:

[code]

Another developer had modified our code, such that the body that was used for an http request was different. He did not modify the cassette, which he should have.

My issue is with the message. How about something like "The request body does not match a previous request"? Or, as I was digging through the code, the failure was not actually on the body, but the `Content-

[2015-01-21 21:51] tylercollier commented on #94
As follow-up motivation, I have another developer running tests, and they are failing with that same message. Helping him debug this remotely is going to be a pain. The fact that he's a rookie is not the fault of php-vcr, but why doesn't it just say

    Invalid http request because [REASON]

?

[2015-01-22 08:18] adri commented on #94
That you very much Tyler. I think so to there should be a way to easier find out what is happening (#36 is related to this as well).

"The request header ("Content-Length: 1567") did not match an existing request": How can we find out which parts request did not match? Not sure if it is possible. What might work is a list of all requests in a cassette with information why it didn't match.

I'm thi

[2015-01-22 16:55] tylercollier commented on #94
It's easy to find out which parts didn't match a given request, right? It has to be; that's how VCR works. I assume what you mean is, how to convey that information to the user without overwhelming them, if there are multiple requests in a cassette? One idea is to only show what part didn't match if there's a single request in the given cassette. That works well for me, because I only ever have a

[2015-01-22 17:09] adri commented on #94
Ah yes, some projects have many requests in one cassette. But when using different cassettes for each test (which is the preferred way) I can imagine very detailed debugging info. Thank you for your link to the VCR examples!

Answering your questions: You are absolutely right. The last word should be "request" or at least "The cassette inserted did not have the necessary response for the request".

[2015-01-23 17:45] matjack1 commented on #63
@adri I managed to update the Amazon library and it looks like it's recording stuff!
The problem now is that it doesn't replay, maybe because the calls are time related? In all the requests there is a header like this: ```x-amz-date: 20150123T174129Z``` which obviously changes every time. That means I can't use php-vcr in this case?

[2015-01-23 17:52] adri commented on #63
Awesome! You can choose what you want the requests to match on, please see "request matching" in the [docs](http://php-vcr.github.io/documentation/configuration/). Does that help?

[2015-01-23 18:24] matjack1 commented on #63
Ohhhh yes. Thanks a lot!

[2015-01-23 18:24] #63 closed

[2015-01-24 10:58] aaa2000 commented on #94
Concerning the debug mode, if there are many requests records in the cassette, we could maybe detect the recorded request which looks like the most to the request via levenshtein or similar_text PHP function. Then, tell which part (header, body...) doesn't match or use a diff.

[2015-01-24 13:13] adri opened #95 "Refactor static helper classes to"
Refactor helper classes as they don't play nice with the open closed and dependency inversion principle.

 * CurlHelper and StreamHelper are Mappers (from curl options and stream context to Request objects)
 * Find out what to do with TextUtil and HttpUtil

Instances of the new classes can be injected in the VCRFactory.

[2015-01-24 21:57] tylercollier commented on #94
@adri Your new text is improved. I think it'd be clearer to change the word "a" to "any":

@aaa2000 That's a good idea. Deciding which match is "closest" is non-trivial. I think you could write some code that got you 95% of the way there. Then make sure the message mentions that the current request differs from PHP-VCR's best guess as to a previously recorded transaction. This will still be better

[2015-01-26 03:45] tylercollier opened #96 "Does PHP-VCR work with stream_context_create?"
I'm using the [expert-sender-api](https://github.com/LinguaLeo/expert-sender-api) library. The request in the cassette that ends up recorded is almost blank:

[code]

There should be a request body, and the content-length should not be zero (it's also odd it's a string, no?). Also, the method there is GET, but it should be POST. If I disable PHP-VCR, and perform a live web service call, the reques

[2015-01-26 03:54] tylercollier commented on #84
What does that have to do with the line length?

[2015-01-26 07:35] alexdomsa commented on #84
It doesn't necessarily have to do anything with line length, but I was thinking that maybe because the line is too long, it loads the entire line in memory.
I just wanted to post some details that might be helpful, related to this bug.

[2015-01-26 22:18] tylercollier commented on #96
Regarding the "there's still another problem". I just ran a different test with PHP-VCR off and not cassette loaded. I received a response using `file_get_contents`, but PHPUnit still choked, saying `Undefined variable: http_response_header`. I'm looking more into this mysterious `http_response_header` thing in PHP, and I'll report back.

[2015-01-26 22:55] adri commented on #96
Thank you very much. Indeed the stream wrapper interception is only tested with GET requests. Header support was added quite recently. The response headers seem to be indeed not recorded. Definitely some work and tests to be done here :-/ thank you for pointing this out.

This should be fixed. I would be very happy to merge a pull request as I'm again limited on time.

[2015-01-26 23:01] adri commented on #96
The `$http_response_headers` could be set by php-vcr, if that's just an ordinary global variable. To be honest I've never used the stream wrappers/contexts this way and wasn't aware that this variable is set.

[2015-01-27 17:47] tylercollier commented on #96
`$http_response_header` (note singular) is not global, it's magically brought into existence in the local scope as mentioned in the doc I linked. It's voodoo!

I will work on the stream wrapper with POSTs and submit a pull request.

[2015-02-03 15:17] matjack1 commented on #78
Hello @adri since we solved the other issue (#63) we are now using PHP-VCR in our project :) I tried then to use it also for calls to the SalesForce API and I'm experiencing similar problems to the ones in this issue. I'm continuing on this issue because I think it's the same problem. If you prefer me to open another one I can do that.

This is what I'm recording now:
[code]
Looks like the problem

[2015-02-03 15:42] adri commented on #78
Maybe the authentication header. There has been work on this recently, are you sure you are on the latest vcr version?

[2015-02-05 21:52] tylercollier opened #101 "BeforePlaybackEvent does not happen before playback"
Kudos to @aaa2000 who added hooks on #86.

The BeforePlaybackEvent does not actually happen before playback. Look at `Videorecorder.php`:

[code]

`hasResponse` just calls `playback`. Thus, the code should look more like this:

[code]

This feels gross, but is more correct.

So, how to fix the grossness of dispatching the event before the `if`? Some ideas:
* Dispatch the VCR_BEFORE_PLAYBACK event

[2015-02-05 22:06] tylercollier commented on #101
Here's my motivation if it matters.

I am using Guzzle, which sets the User-Agent header to be something like

    User-Agent: 'Guzzle/3.9.2 curl/7.22.0 PHP/5.4.23'

The problem with this is that that's MY version of curl and PHP. If another developer has a different version, the request won't match. This scenario is happening on my team.

So my VCR_BEFORE_PLAYBACK hook strips the User-Agent heade

[2015-02-05 22:15] adri commented on #101
Yes you are right, good point. We could move the content of the if above and then check the response.
This a nice side effect: Because `hasRequest` calls `playback`, `playback` is actually called twice which should be changed for a speedup like shown in #93.

How do you like something like this?

[code]

[2015-02-05 22:45] tylercollier commented on #101
That's fine. It gets the job done. I prefer my idea; separating out concepts like 'match request' and 'playback request' gives you more flexibility.

This solution always dispatches the `AFTER_PLAYBACK` event, even if there was no playback. I don't have a use case for such an event, so I can't think if one way is better than the other. I'm not sure if anyone would, but if they e.g. opened a connec

[2015-02-07 23:00] tylercollier commented on #96
I've been looking into this. I think the problem I found originally was because the server I was connecting to is sending an intermediate `HTTP/1.1 100 Continue` header. This [stackoverflow answer](http://stackoverflow.com/a/2964710/135101) suggests that we change `HttpUtil.php`'s `parseResponse` method to look like this in the middle:

[code]

Unfortunately, I don't know how to test this in the t

[2015-02-17 02:34] tylercollier commented on #94
@aaa2000, are you going to do this? Otherwise I'll take a stab.

[2015-02-17 04:59] tylercollier commented on #96
For anyone who is interested in the `$http_response_header` issue, a bug was filed on 2014-07-13 at https://bugs.php.net/bug.php?id=63897. I wrote some additional comments there. If you want it to get attention, please vote on that page.

[2015-02-17 10:31] aaa2000 commented on #94
@tylercollier No, I didn't try to implement it

[2015-02-19 17:16] dbu commented on #16
can't you provide something to register a custom callback function for this decision?

[2015-02-19 17:25] dbu commented on #71
note that with behat things depend on the test runner. if its a php runner in the same process, starting the recorder should probably just work, right? but when going through selenium and a phantomjs/firefox/whatever browser, a new web request is started and a new php process.

we need to do this in a project (the web requests). we where brainstorming about injecting a custom header to phantomjs (

[2015-02-19 17:40] dbu opened #103 "Error when checking for casette file is_writable in vagrant"
we get the following exception:

[code]

the file is created with 664, and when typing `ls -l` the system reports the file as belonging to user 1000 (which is my user id on the host system). inside vagrant, the vagrant user has id 501. but somehow the linux filesystem can still write the file. and the is_writable function is true when the stream wrapper is not registered. as soon as its registered

[2015-02-19 17:44] dbu opened #104 "doc improvement"
we got an error from the symfony YamlParser that the yaml is invalid. trying to run a yaml-linter managed to output the actual reason which was that the nesting for pcre got too deep. the problem is fixed by increasing `pcre.backtrack_limit` in php.ini

probably would also be fixed by switching to store fixtures in json.

do you have an FAQ or troubleshooting section somewhere where i could add th

[2015-02-19 20:07] adri commented on #96
This is a hard one. I'm just brainstorming a bit...

It is possible to overwrite `$http_response_header` with a call to a function defined by php-vcr, much like the other [`CodeTransforms`](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/CodeTransform/CurlCodeTransform.php).There is a high chance for risking false positives though since `$http_response_header` could be just used as a variab

[2015-02-21 14:35] adri commented on #66
Removed pattern matching in favor of an equality check in https://github.com/php-vcr/php-vcr/commit/394737a317f79abe1c7bdbe15621fe45700e24b7

[2015-02-21 14:35] #66 closed

[2015-02-21 14:37] adri commented on #64
There was some work on the soap part. If you like, you can test again if fixtures are recorded. I'm closing this issue in favor of #11.

[2015-02-21 14:37] #64 closed

[2015-02-21 15:10] adri commented on #104
Mh imo the best would be to extend the current documentation on the website. The website is hosted on github https://github.com/php-vcr/php-vcr.github.io.

I wonder if it should go into the `Installation` part or another FAQ section https://github.com/php-vcr/php-vcr.github.io/tree/master/documentation/_posts.

[2015-02-23 05:01] tylercollier commented on #94
Ok, I'm excited to give it a shot. I'll do that by the end of March 1st, MST.

[2015-02-23 16:25] dbu opened #108 "url_stat should handle a second param $flags"
Stream::url_stat has a second parameter $flags that would tell whether we want to resolve symlinks or not. we should probably handle this parameter in StreamProcessor. No idea what the right thing to do would be, unfortunately.

I just know that when we have a symlinked folder, is_link still returns false, making e.g. the symfony Filesystem::remove try to delete a folder instead of removing the sy

[2015-02-23 19:25] dbu commented on #108
probably we should call [lstat](http://php.net/lstat) instead when STREAM_URL_STAT_LINK is set.

not sure if we really want to respect STREAM_URL_STAT_QUIET to supress errors or trigger_error on errors.

[2015-02-23 21:39] adri commented on #108
I stole this class (as mentioned somewhere in the docs) from here:
https://github.com/antecedent/patchwork/blob/master/src/Preprocessor/Stream.php

It seems to be an issue and maybe this will help:
https://github.com/antecedent/patchwork/commit/4310769f47e45abcb0bb621360024f7c4126fe62

[2015-02-24 00:22] morrislaptop opened #109 "Not wrapping around SSL sockets?"
Using the [mindscape/raygun4php](https://github.com/MindscapeHQ/raygun4php) library, I'm trying to test the calls this library is making.

However it looks like it is making a call like:

[code]

And VCR isn't picking it up. I tried `stream_wrapper_register('ssl', __CLASS__, STREAM_IS_URL);` but got a load of errors and thought you might know better ;)

[2015-02-24 07:48] dbu commented on #108
hm, i think @antecedent will have a problem with symlinks in his project. @antecedent did you ever check if is_link still works when the patchwork pre processor is loaded?

we should port that change you link and then add the lstat case. will see if i get to it.

[2015-02-24 08:38] adri commented on #109
Hey,

it seems like raygun4php is either calling

 1.  [curl on the command line](https://github.com/MindscapeHQ/raygun4php/blob/master/src/Raygun4php/RaygunClient.php#L316) for which there is basically no chance to intercept it or
 2. [building a HTTP request themselves](https://github.com/MindscapeHQ/raygun4php/blob/master/src/Raygun4php/RaygunClient.php#L326) and send it via a socket.

I wonder

[2015-02-24 08:42] morrislaptop commented on #109
If debug mode is off it doesn't wait for the response (async-ish) so that error reporting is faster.

Hah I'll give it a crack and see how I go, no promises!

[2015-03-02 15:03] dbu opened #112 "Curl getinfo not stored"
curl getinfo is not recorded. when replaying, i end up with "Not implemented: CURLINFO_EFFECTIVE_URL (1048577)" - maybe we should have an option to activate recording this information. Not sure if it should be on by default, its quite heavy and often not relevant.

[2015-03-08 14:54] adri commented on #94
I'm trying to find out what output is most helpful for users. From my point of view the following data might be interesting (inspired by https://github.com/vcr/vcr/issues/478):

 * the path of the current cassette
 * the used request matchers
 * the record mode
 * which of the requests was the closest match (if there is one, see below)
 * which field(s) didn't match
 * the content of the fields th

[2015-03-08 16:15] adri commented on #94
In general I think it would be handy to have a [logger](https://github.com/vcr/vcr/blob/3109f64e510f249bf9e828344614a0bd09a329a7/features/configuration/debug_logging.feature) like vcr (ruby) has. Not only for explaining mismatches but also for learning about how php-vcr reacts to the system under test.

The question is to me how much information there has/should be in the exception message vs. in

[2015-03-08 16:21] tylercollier commented on #94
Those are good ideas. You are correct with the example output you gave.

You're right that there could be a case when all the requests match equally well. This "best match" idea is not a trivial task, so we want to be clear to the user that we have a best match, and not *the* match. I will write up whatever algorithm we end up using in the documentation (by the way, I still request feedback on my

[2015-03-08 16:50] adri commented on #94
I think the "best match" can be as simple as selecting the request with the minimum number of mismatches.

What is your opinion of the following exception message draft?

[code]

[2015-03-08 22:14] tylercollier commented on #94
I like it. Perhaps a sentence before the -/+ mentioning what they represent, i.e. current request and stored request.

One thing to be careful of is assuming the values are not too long. Following Ruby VCR's lead, you might want to truncate to some line length by default. It would be nice if the truncation length were configurable.

Your strategy to find the best match does not include a tie-break

[2015-03-27 19:34] adri commented on #94
Here is a project which does a diff of http. How do you like the format?
https://github.com/jgrahamc/httpdiff

[2015-03-31 03:51] tylercollier commented on #94
It's cool that httpdiff has colored output, although the default looks bad to me.

I prefer the standard diff format. Isn't that what phpunit uses by default for diff-type tests? I'm not sure how easy it would be to get diff coloring into phpunit.

I'm sorry I haven't updated you. I haven't looked at this since the last time I posted except to read your comments. I likely will not have time to wor

[2015-04-14 08:22] jacobbednarz opened #114 "Integrate use of drupal_http_request"
Hey,
I am trying to use PHP VCR with Drupal's [`drupal_http_request()`](https://api.drupal.org/api/drupal/includes%21common.inc/function/drupal_http_request/7) however I cannot seem to get it to write the cassette - however works fine with PHP's `file_get_contents`.

Are you able to have a look and let me know where this could be going wrong or how I would look at patching it so that it can be use

[2015-04-14 09:02] adri commented on #114
Thanks, seems to be related to #109.

[2015-04-15 19:50] adri commented on #109
@morrislaptop Did you manage to have some progress in this by any chance?

[2015-04-15 19:50] adri commented on #114
Drupals [`drupal_http_request()`](https://api.drupal.org/api/drupal/includes%21common.inc/function/drupal_http_request/7) uses  `stream_socket_client` to create a tcp socket connection and builds its own HTTP request. Like described in #109 it is possible to intercept this but I don't have the time to do it.

In Drupal 8 you can use [`Drupal::httpClient()`](https://api.drupal.org/api/drupal/core!l

[2015-04-15 19:51] adri commented on #114
I'll close this issue in favour of #109.

[2015-04-15 19:51] #114 closed

[2015-04-15 20:42] morrislaptop commented on #109
Nope ;) https://github.com/morrislaptop/error-tracker-adapter/blob/master/tests/Adapter/RaygunTest.php

[2015-04-18 14:32] adri commented on #114
@jacobbednarz  Btw, what are you trying to do? Are you testing Drupal modules?

[2015-04-18 21:19] jacobbednarz commented on #114
yep - Drupal modules and a custom lightweight API layer which I wrote about at http://jacobbednarz.github.io/posts/lightweight-rest-api-with-drupal/

[2015-04-19 15:56] adri commented on #114
I think if you want performance it could make sense to use a tool made for this. See also http://drupal.stackexchange.com/questions/38394/using-javascript-frameworks-like-backbone-with-drupal#39393

[2015-04-19 22:40] jacobbednarz commented on #114
Thanks for the feedback @adri.

While it's a bit off topic, we rolled a custom lightweight API layer as we also run a service orientated architecture where most of the functionality is consumed outside of Drupal (so front end frameworks are no use). Additionally, most of the time the internals included too many components we weren't going to use (such as the theme layer) and added precious ms to o

[2015-04-20 07:26] adri commented on #114
Sorry for my unconsolidated feedback ;-) I just went through optimising a Drupal site using a similar approach and felt like sharing. Using HHVM sped up considerably and lowered the used resources btw.

PS: The answer in the link is more about using node or other technology instead of frontend frameworks.

[2015-04-20 07:35] jacobbednarz commented on #114
Not a problem at all! Appreciate the feedback and will keep it in mind. 😊

[2015-05-01 17:45] janhartigan commented on #67
@adri any update on this? We're running into this issue in Win8 environments as well.

[2015-05-05 14:04] adri commented on #67
I'll look into reviewing and merging #67 on the weekend. That should fix the php-vcr tests on windows.

[2015-05-06 20:28] ghankerson opened #115 "Incompatibility with requests library"
When using https://github.com/rmccue/Requests and php-vcr  I get errors like this:
`Requests_Exception: Missing header/body separator`

[code]

I have `\VCR\VCR::turnOn();`  in my tests boostrap.php  wondering if you can point me in the right direction

[2015-05-07 14:03] ghankerson commented on #115
To give more detail this works fine for me:
[code]

[2015-05-07 17:46] adri commented on #115
Thanks, when fixing this issue I noticed that I get [other errors](https://github.com/rmccue/Requests/issues/157) using rmccue/Requests. I would like to wait until that issue is solved and the integration tests work until I merge the php-vcr fixes.

Until then you can try to switch to the fixed branch, in your `composer.json`:
[code]

[2015-05-07 21:54] ghankerson commented on #115
super!  @adri    thnaks so much will try this tomorrow.  Very excited about it

[2015-05-08 05:01] adri commented on #115
No problem. Thank you for using php-vcr!

[2015-05-31 09:29] aaa2000 commented on #101
Sorry for the bug and sorry for the late reply.

I didn't know ruby but after looking at the vcr code https://github.com/vcr/vcr/blob/e1f8dec6d5a2b254fba24c36933150d50d7b869b/lib/vcr/cassette.rb#L173.
and read again the cucumber feature https://www.relishapp.com/vcr/vcr/v/2-9-3/docs/hooks/before-playback-hook, I think I misunderstood the ```BEFORE_PLAYBACK``` event in vcr.  It seems to me that the

[2015-06-01 17:14] tylercollier commented on #101
@aaa2000 The pull request as you suggest would be great!

[2015-06-03 16:32] tylercollier commented on #101
@aaa2000 I want this ASAP so I have started it, but don't want to step on your toes. Let me know if you're presently working on it.

@aaa2000 & @adri, your advice/opinions would helpful for the following:
* I figured it would be better to follow Ruby VCR's lead, as aaa2000 mentioned, and dispatch the 'before playback' event for each http interaction in the cassette. The new behavior is different,

[2015-06-03 21:27] aaa2000 commented on #101
@tylercollier I send a PR with the https://github.com/php-vcr/php-vcr/issues/101#issuecomment-73141568

But the fix is strange because now when the cassette has no response, the VCR_BEFORE_PLAYBACK and VCR_AFTER_PLAYBACK are dispatched. I don't like it.

Maybe, it is better to introduce another event VCR_BEFORE_REPLAY to the new behavior and deprecated the VCR_BEFORE_PLAYBACK. We can alert the use

[2015-06-04 18:27] tylercollier commented on #101
@aaa2000 I liked your suggestion to follow Ruby and dispatch the "before playback" event for each http interaction. I submitted a PR with my attempt.

[2015-06-09 11:05] sameerpanjwani opened #119 "Getting error: Not implemented: CURLINFO_HEADER_SIZE (2097163)"
Have been unable to run tests when trying to test the Facebook API calls I'm making using the Facebook PHP SDK. When I do a normal file_get_contents, there is no issue but when I try to record the tests using the actual calls I make in my application, it doesn't work. The file does get created with the actual output but the test stops because of the error.

[code]

Error:

[code]

[2015-06-09 11:31] adri commented on #119
Great find. I seems to be not implemented in the CurlHelper, should be an easy fix. Not sure if I have time at the moment, any takers?

[2015-06-09 20:46] aaa2000 commented on #119
I think it is already implemented https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Util/CurlHelper.php#L32. But CURLINFO_HEADER_SIZE is not supported for curl < 7.30.0. https://github.com/paypal/PayPal-PHP-SDK/issues/258

So @sameerpanjwani which Curl version do you use?

[2015-06-10 00:25] sameerpanjwani commented on #119
Copying this as listed in my PHP Info file:

PHP Version 5.5.19
cURL Information 7.39.0
SSL Version	OpenSSL/1.0.1i
ZLib Version	1.2.7.3
libSSH Version	libssh2/1.4.3

My OS: Windows 8.1 and using XAMPP.

[2015-06-10 20:37] aaa2000 commented on #119
I can reproduce it, I will try to resolve it.

[2015-06-10 21:22] aaa2000 commented on #119
@adri Should we store all curl info in the cassette, or only header_size in the cassette or should we add a case in getCurlOptionFromResponse ?

[2015-06-10 21:41] adri commented on #119
Yeah good question. It is semi related to #112. In less frequent cases it can be handy to have the curl info in the cassette. But in this case I suspect that the header size could be retrieved from the response by using `strlen(HttpUtil:: formatHeadersForCurl($headers))`, or better `mb_strlen` if available.

@sameerpanjwani
For a quick fix, try using `FacebookGuzzleHttpClient` like described here

[2015-06-13 00:24] justincy opened #120 "PHP VCR not sending request body"
When PHP VCR is enabled the request bodies don't get sent on a POST even though the `Content-Length` header is set and it correctly records the body.

[2015-06-13 01:30] justincy commented on #120
I can't figure out what's wrong from debugging and examining the source code. However I do see that POST is not actually tested in integration tests.

[2015-06-13 20:59] aaa2000 commented on #119
@sameerpanjwani can you try with the fix of PR #121 ?

[2015-06-14 04:49] sameerpanjwani commented on #119
Yes it works now! Thanks :+1:

When will this be merged?

[2015-06-14 11:35] adri commented on #119
Merged :-)

[2015-06-14 11:35] #119 closed

[2015-06-15 20:23] adri commented on #120
Some questions:
What is the content of the POST body when you send it?
What HTTP library are you using?

[2015-06-18 18:11] Danno040 commented on #103
I believe I encountered the same issue as @dbu. When I called `VCR::turnOn`, files that were writable were starting to register as not writable.

[code]

I believe this has something to do with the weird permissions that are set when using NFS with vagrant. Using the [vagrant-bindfs](https://github.com/gael-ian/vagrant-bindfs) plugin fixed the issue for me.

There may still be an issue with how VC

[2015-06-19 06:03] adri commented on #103
Very interesting, thanks @Danno040.

Did you notice this behaviour of `is_writeable` because you got a `VCR\VCRException` like @dbu or in some other code?

[2015-06-19 16:10] justincy opened #123 "Duplicate response headers are being dropped"
Duplicate response headers are [allowed under certain conditions](http://stackoverflow.com/questions/4371328/are-duplicate-http-response-headers-acceptable). Duplicate values are dropped by PHP VCR (actually, all but the last value are lost).

[2015-06-19 16:53] Danno040 commented on #103
Both, actually. I have a system that uses the Twig templating engine, and Twig was complaining that it's cache folder wasn't writeable (leading me to the code above). If I disabled VCR, and allowed Twig to cache, I would get the `VCR\VCRException` from [here](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Storage/Yaml.php#L48) because the cassette path was reading as not writeable.

I'm go

[2015-06-19 17:40] adri commented on #123
Indeed I wasn't aware of that. Thank you.
The related code would be https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Util/HttpUtil.php#L21 and https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Util/HttpUtil.php#L84.

I'm thinking of switching to PSR 7 for Request and Response, maybe there are some tools already which parse and write headers etc.

[2015-06-19 17:40] adri commented on #120
Thank you Justin for fixing this in #122. Is your original issue solved?

[2015-06-19 17:49] justincy commented on #123
I'm in the process of fixing this issue :). We won't have to wait for
switching to PSR 7.

On Fri, Jun 19, 2015 at 12:40 PM, Adrian Philipp <notifications@github.com>
wrote:

[2015-06-19 17:49] justincy commented on #120
Yes. Thanks.

On Fri, Jun 19, 2015 at 12:40 PM, Adrian Philipp <notifications@github.com>
wrote:

[2015-06-19 17:53] #120 closed

[2015-06-19 18:02] #123 closed

[2015-06-19 18:48] dbu commented on #103
i think that is very likely. if that is enough, maybe you can even
reproduce it on travis, creating a folder in the setup scripts with a
numeric user id that does not exist on travis...

though it might depend on specific file systems, in addition to that.

[2015-06-21 19:58] adri commented on #101
While working on this I realised a few things.

1. The motivation for this change is request matching.

    This would be related to request matching. @tylercollier the way you handled it, is perfectly fine. I believe requests should not be rewritten for the purpose of matching it properly. That's what request matchers are there for.

2. We still didn't understand how it is in vcr (ruby)

    Whil

[2015-06-22 19:14] aaa2000 commented on #101
for me it is good

[2015-06-24 17:47] justincy opened #125 "Segmentation fault with large JSON responses when using YAML storage"
I get a segmentation fault when recording/replaying requests that have a large JSON body in the response. I believe it's an issue with the symfony YAML parser (see https://github.com/symfony/symfony/issues/15070) but I'm posting it here too just in case it helps someone with a similar problem.

JSON storage does not experience this issue.

[2015-06-24 19:50] adri commented on #125
Did you try switching to json for storage? `VCR::configure->setStorage('json')`

[2015-06-24 19:53] justincy commented on #125
Yes. JSON storage does not seg fault. That's the solution I'm going with (it also appears to be faster, at least for my use case).

[2015-06-24 19:57] adri commented on #125
Yeah indeed JSON is almost always faster.

I'm sorry, I didn't read your initial description properly where you mentioned already that JSON works.

[2015-06-24 20:26] justincy commented on #125
That should probably be documented. Or JSON should be the default storage mechanism. Or both.

[2015-06-25 13:09] aaa2000 commented on #125
Is not the same issue https://github.com/php-vcr/php-vcr/issues/84 ?

[2015-06-25 13:21] aaa2000 commented on #125
and this issue https://github.com/php-vcr/php-vcr/issues/104 too ?

the problem is fixed by increasing pcre.backtrack_limit in php.ini

[2015-06-25 15:49] purpleD17 opened #126 "Please support dataProviders with VCR"
Maybe I'm wrong, but it appears data providers don't work with VCR. For example we have a test like this:

[code]

It seems to totally ignore vcr, not trying to record any cassettes. I'm guessing vcr doesn't know how to run the test 3 times and setup a vcr cassette file for each one of these three calls for the spec.

[2015-06-25 15:50] purpleD17 commented on #126
By the way, I'm sort of new to open source projects, so if the expectation is for me to submit a PR for this, it's possible, but its probably a pretty big change and will take me a while to learn the code to do so.

[2015-06-26 14:59] justincy commented on #125
@aaa2000 Yeah you're right. Sorry I missed that.

[2015-06-28 09:54] #104 closed

[2015-06-28 10:42] adri commented on #125
Added to documentation http://php-vcr.github.io/documentation/configuration/#storage thanks to @aaa2000.

[2015-06-28 10:42] #125 closed

[2015-06-28 10:43] adri commented on #104
Added to documentation http://php-vcr.github.io/documentation/configuration/#storage thanks to @aaa2000.

[2015-06-28 10:44] adri commented on #84
Added to documentation http://php-vcr.github.io/documentation/configuration/#storage thanks to @aaa2000.

[2015-06-28 10:44] #84 closed

[2015-06-28 11:06] adri commented on #89
When switching to Diactoros we might get HTTP string parsing for free https://github.com/zendframework/zend-diactoros/blob/master/src/Request/Serializer.php#L39 which is useful for #109.

[2015-06-28 11:17] #101 closed

[2015-07-02 23:09] TeslaDethray opened #129 "curl_getinfo returns array with blank values when replaying"
I'm using Behat 2.5 & Guzzle 3.9. Here's my full composer.json:
[code]

To reproduce:
1. Ensure your mode is set to once or none and that you have a valid cassette selected for your request.
2. Add a print_r($this->handle); on line 332 of Curl_Handle (see link)
3. Run your command to make the request.
4. To see the array filled out, erase that cassette or point the cassette var elsewhere and try t

[2015-07-03 05:09] adri commented on #129
Thanks, please also see #112. Is there a specific need for you to store this data?

[2015-07-03 17:07] adri commented on #129
Closing in favour of  #112.

[2015-07-03 17:07] #129 closed

[2015-07-17 17:34] stevemiketa opened #130 "Using array in cURL POSTFIELDS handled differently than string"
Hey @adri

I have a few `curl_setopt(...)` calls that supply an array to CURLOPT_POSTFIELDS that are not playing well with VCR. On closer inspection, it seems that when you supply an array of parameters to CURLOPT_POSTFIELDS as supported by [cURL](http://php.net/manual/en/function.curl-setopt.php), VCR handles it [differently](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Util/CurlHelper.

[2015-07-27 04:01] tonywong625 opened #131 "Laravel with Guzzle and VCR"
Hey guys,

I am trying to use VCR to store Guzzle request in my Laravel project. I tried a few ways to get it working however I am running into issues.

I am using Guzzle 6 with Laravel 5 and VCR on dev-master.

1) In my test file I added the simple setup for VCR and it is working!
[code]

2) Calling a method in an Abstract class, the cassette (test.yml) is empty
[code]

3) Adding \VCR\VCR::turnOn

[2015-07-27 19:50] bensheldon opened #132 "Do identical requests get replayed in sequence?"
Will PHP-VCR record multiple requests to the same matching resource and then play them back in order? This is implemented in the [Ruby VCR Library](https://relishapp.com/vcr/vcr/v/2-9-3/docs/request-matching/identical-requests-are-replayed-in-sequence) but it seems like it isn't implemented in PHP-VCR (unless I'm just using the library wrong).

Sorry to ask a question, but I couldn't find the answ

[2015-07-28 17:20] adri commented on #130
Hey @stevemiketa Thanks a lot! I'm sorry for my late answer.

The [highlighted code](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Util/CurlHelper.php#L150-L163) mimics `curl_setopt` behaviour when an array is specified as value.

From the [`CURLOPT_POSTFIELDS` documentation](http://php.net/manual/en/function.curl-setopt.php):

Setting the post fields using `setPostField` does that.

Do y

[2015-07-28 17:22] adri commented on #131
Thanks Tony. Could you please try adding the following to `tests/autoload.php`?

[code]

[2015-07-28 17:25] adri commented on #132
Hey Ben. Thank a lot for your question. This feature is indeed currently not implemented.

I'm interested... how did you come across this usecase?

[2015-07-28 17:31] bensheldon commented on #132
@adri well nuts :-)

For the usecase, we're writing behat stories. Many of our stories involve some sort of flow like:

1. read out and verify the original value (GET)
2. modify the value (PUT)
3. refetch the value in step 1(GET) and verify that it's been modified

So we're making the same GET request twice, but expecting a different response in order to verify that the PUT is operating correctly

[2015-07-28 22:37] tonywong625 commented on #131
Hey Adri,

Thanks for the quick replay and yes that worked well for me.

Thanks
Tony

[2015-07-28 22:37] #131 closed

[2015-07-29 18:24] bensheldon commented on #132
@adri Also, we (@pantheon-systems), would be willing to sponsor/bounty this feature. Please email me at ben@getpantheon.com if you'd be interested.

[2015-08-04 08:26] veewee opened #134 "SOAP Requests with status 100 (Continue) are not handled correctly"
We are implementing some magento functionality through it's SOAP API. While testing the integration, we receive following error:

[code]

After examining the request / responses, it is clear that the failing tests are receiving the HTTP status code 100 Continue. The response headers are not placed in the 'headers' part of the yml file, but are included in the body of the response.

When running th

[2015-08-04 08:50] adri commented on #134
Can you try dev-master? There was a fix merged recently.

[2015-08-04 09:50] veewee commented on #134
@adri
Great, that seems to do the trick! Should have looked better :)
When will this bugfix be tagged?

[2015-08-05 08:39] gerrywastaken commented on #104
@adri Do we know the section of code that is segfaulting? Is it possible to catch this before the segfault or handle the problem in graceful way that alerts the user to the issue?

[2015-08-06 21:18] aaa2000 commented on #104
I don't think It can be handle in graceful way. At the time, I had found that https://bugs.php.net/bug.php?id=40846

[2015-08-12 20:09] stevemiketa commented on #130
Hey, sorry I lost track of this! I will provide you with my example soon!

The issue is that when VCR intercepts the request and sends the code, it [sends the body](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Util/HttpClient.php#L24-L26). But when you supply the array of key value data, the body never gets set on the request. So when the client tries to make the request, the body is emp

[2015-08-18 18:51] acorncom opened #136 "Response header status failing Braintree library checks due to status being saved as a string"
Howdy, I'm using the Braintree PHP libraries and was happily getting setup with your library (much appreciated).

I've run into a snag though (that may keep me from using it for now unless I fork your repo).  The issue seems to be as follows (this is the JSON cassette for my test):

[code]

My issue is that the Braintree library does this test:

[code]

Due to the use of the `===`, I'm seeing an e

[2015-08-18 18:54] acorncom commented on #136
Further, potentially relevant information:
- PHP 5.6.10
- Storage systems tried for the library: YAML and JSON (both exhibit the same behavior)

[2015-08-24 17:23] abeger opened #138 "Does not follow redirects when working with file_get_contents"
My test references a URL that turns out to be a 301 redirect. The code being tested uses `file_get_contents` and works fine outside of the test. When using PHP VCR, however, the fixture stored is just the 301 response. Is there some way to make it follow the redirect?

[2015-09-08 06:05] adri commented on #136
Hey @acorncom, thanks a lot for your time to investigate in this issue. Of course it should be fixed.

A failing test would be great to isolate the issue. I'm quite sure that a well placed `(int)` in the [`toArray`](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Response.php#L66) method of the response should fix it.

[2015-09-11 12:24] laland opened #140 "SOAPAction header"
Hi! I got an issue when trying to record a cassete with soap - it was always returning this message:

*SoapFault: The message with Action '' cannot be processed at the receiver, due to a ContractFilter mismatch at the EndpointDispatcher. This may be because of either a contract mismatch (mismatched Actions between sender and receiver) or a binding/security mismatch between the sender and the recei

[2015-09-11 12:25] laland commented on #140
oh i see https://github.com/php-vcr/php-vcr/pull/133

[2015-09-11 12:26] #140 closed

[2015-09-26 11:19] adri commented on #138
Hey @abeger, thank you. Could you please try the request again with a context, like in this example? Does that work?

[code]

We [check for follow_location](https://github.com/php-vcr/php-vcr/blob/b7338ab6636d448f0325e1ce841a82b5e686f1a2/src/VCR/Util/StreamHelper.php#L48) already but in the PHP documentation it says it [is 1 by default](http://php.net/manual/en/context.http.php). I think we need s

[2015-09-26 11:21] adri opened #142 "Looking for co-maintainers"
As you probably notice, my response time to issues is rather late ;) I don't like it but there are other things which are important to me.

If anyone likes to help maintaining this repository, please let me know. I'm still around as usual, but I think we can improve the situation by having more maintainers.

[2015-10-01 16:05] EdwardIII commented on #132
As @bensheldon as a quick workaround when we do this we just pop in a separate cassette for step 3.

[2015-10-07 14:39] alnorth opened #143 "Empty header inserted for curl requests"
I'm having problems using php-vcr with the Dropbox client library. There's a few things which are just simple errors that I'll hunt down and add pull requests for. However, there's one that I don't just want to blindly edit because it's obviously deliberate.

For requests using the curl library an empty string is added to the array of headers. See here: https://github.com/php-vcr/php-vcr/blob/1.2.

[2015-10-21 10:06] laland opened #145 "SoapClient's __getLastRequest/__getLastResponse and so on..."
Hi, i see that VCR\Util\SoapClient currently misses that stuff. I think i can do a PR for this... I'll just turn request and response from __doRequest into properties and it'll do the trick, i can even fix __getLast{whatever}Headers by parsing request and response.

[2015-10-21 11:40] laland commented on #145
here's a PR for this #146

[2015-11-04 22:52] abeger commented on #138
Interestingly, it followed the redirect with that, but included the header information in the returned content. I'm going to try to look into this a little more and see if I can't figure out where the disconnect is happening. Or at least create a reproducible example.

[2015-11-05 19:40] abeger commented on #138
I ended up creating a little project to demonstrate the issue. You can look at it here: https://github.com/abeger/php-vcr-issue-138

High-level summary:
* `file_get_contents` follows a 302 redirect just fine without specifying context.
* A cassette wrapped around the call just records the 302 and doesn't follow the redirect. `file_get_contents` returns `null`.
* Adding context to the `file_get_con

[2015-11-05 19:43] abeger commented on #138
I ended up creating a little project demonstrating the issue with a 302 redirect here: https://github.com/abeger/php-vcr-issue-138

Long story short:
* `file_get_contents` by itself with no context specified follows the redirect and gets the contents no problem.
* Putting a cassette around that call only records the 302 and returns `null`.
* Adding context and using a cassette follows the redirect

[2016-01-07 19:08] #108 closed

[2016-01-07 19:43] adri commented on #143
As far as I remember that was done because the Guzzle implementation was expecting an empty string.

What issues did you run into with the Dropbox client? Is it this one? https://github.com/dropbox/dropbox-sdk-php

[2016-01-27 09:41] #145 closed

[2016-02-14 18:17] kasperg opened #152 "Segfaults on PHP 5.3/5.4"
I have a project, wsdl2phpgenerator, which uses php-vcr. First of all: Thanks a bunch for your work!

Second: Our test suite has been [segfaulting on Travis when combining PHP 5.3/5.4 and the latest version of our dependencies](https://travis-ci.org/wsdl2phpgenerator/wsdl2phpgenerator/builds/107964399). Lowest versions have been running fine.

I have tried to narrow down the problem and I believe

[2016-02-26 16:06] alnorth commented on #143
Yes, it's that client. Specifically this line: https://github.com/dropbox/dropbox-sdk-php/blob/9db8328c6c035baa0fee48291bd8bd93bcc714b0/lib/Dropbox/DropboxMetadataHeaderCatcher.php#L52. The `substr_compare` call fails with the message:

    substr_compare(): The start position cannot exceed initial string length

I'll probably submit a PR to them with a fix for that line, but wanted to ask you abo

[2016-03-07 15:08] buduchail opened #153 "SoapClient::__getLastRequest() returns NULL even with trace option set to 1"
We have a project that integrates with a SOAP API, for which we use generated code that uses a class that derives from SoapClient. We are using VCR for our test suite.

When running the tests, calling __getLastRequest() on the SoapClient derived class returns NULL when VCR is on, even with trace option set to 1 in the SoapClient constructor options. This happens only with some PHP versions. It hap

[2016-04-13 09:59] castarco opened #155 "Infinite loop in Guzzle's CurlMultiHandler::execute due to an error in CurlHook::curlMultiInfoRead"
Hi,

I've found a bug in PHP-VCR that is stopping me from recording some HTTP requests in order to create a fixtures set.

I'm doing some HTTP calls with Guzzle, when I disable PHP-VCR there is no problem, but when I activate the recorder like this, the problems appear:

[code]

What happens is that the first http request is done, and correctly registered in the "cassette", but the second request

[2016-04-13 10:21] castarco commented on #155
I've also seen that the signatures of `CurlHook::curlMultiInfoRead` method and the `curl_multi_info_read` function are different.

The PHP's function accepts two parameters (one of them being required), while the PHP-VCR's method does not accept any parameters.

I don't know anything about PHP-VCR's internals nor about how the "curl" functions work, so I can't go deeper on this issue :( .

[2016-04-13 10:48] castarco commented on #142
I think I could be a co-maintainer. I haven't a lot of time, but I need to ensure that this library works perfectly.

My main problem is that I'm not yet familiarized with its internal behavior because its quite complex.

[2016-04-13 14:41] adri commented on #142
@castarco Thanks, any help would be greatly appreciated. You need to ensure that this library works perfectly? That is a very admirable goal. One way could be to write more tests, especially for edge cases. This could be a good way to learn more about the internals?

The complexity of this project comes from the low-level intercepting of curl and soap. Those, especially curl, are complex libraries

[2016-04-14 08:07] castarco commented on #155
A dirty workaround for this issue is to create a `GuzzleHttp\Client` instance for each request.

In my case I've done this to generate a set of fixtures, but this is only a temporal patch, because it's not a good idea to apply this "patch" in a production system.

[2016-05-05 10:46] buduchail commented on #152
Hi @kasperg,

wsdl2phpgenerator is a great project, and is the tool we are using in what I describe in issue #153.

We were having the exact same problem as you mention, a build with tests that used php-vcr to provide fixtures for code generated with wsdl2phpgenerator was failing because php was segfaulting when running the tests.

After investigating the issue, I found an easy solution that seems

[2016-05-10 09:04] tlenclos commented on #155
Same problem on our project but only when chaining multiple requests in one promise.

[2016-05-12 20:00] Vasiliy-Bondarenko opened #156 "yaml segfault"
yaml not working on some cases.
example

`

[code]

`

if i switch to json - works ok.
if i switch to other website - works ok.

but this exect test give me:

`
PHPUnit 4.8.24 by Sebastian Bergmann and contributors.

...[1]    6124 segmentation fault  vendor/bin/phpunit
`

versions:

[code]

[2016-06-06 12:19] aleksandrlat commented on #142
Hello guys,
I created pull request few days ago. Do you still maintain project?
I see there is batch of pull requests.

[2016-06-06 21:15] castarco commented on #142
Hi aleksandriat, almost all the pull requests are breaking the automated unit tests, this is the reason we aren't merging them.

[2016-06-09 13:29] kasperg commented on #36
Point 3 has been addressed by `VCR::MODE_ONCE`.

#157 is a stab at addressing 4.

[2016-06-10 19:25] chrisrichard opened #159 "Why doesn't VCR throw an exception if requests on cassette are NOT played back"
Shouldn't it throw an exception if the component under test does not make the expected HTTP requests?

[2016-06-10 20:33] chrisrichard commented on #159
I'm going to create a PR that allows eject to take a parameter to control this behavior. If specified, eject will throw an exception the the cassette wasn't played back in its entirety.

Is there a reason why this is a bad idea?

[2016-06-11 05:27] chrisrichard commented on #132
#160 should enable this scenario

[2016-06-14 13:42] chrisrichard commented on #159
#160

[2016-07-08 08:05] esbenp commented on #132
Ping @bensheldon @adri what do you guys think of this fix https://github.com/esbenp/php-vcr/commit/278a11b75621cff16d04e212eb9258a735efc844 ?

If we have a test that has the following requests:
* (1) `GET /resource`
* (2) `PUT /resource`
* (3) `GET /resource`

This commit keeps track of the order of occurrence of requests, meaning (1) is the 1st occurrence of (GET /resource) and (3) is the 2nd. Wh

[2016-07-11 16:50] igorbrites commented on #155
Any update on this issue? Same problem here using Docker.

[2016-07-11 21:49] bensheldon commented on #132
@esbenp yes, thank you. That looks like exactly what I'm looking for. Thank you for resurrecting this issue. 🐣

[2016-07-12 05:57] esbenp commented on #132
Perfect @bensheldon. What do you say @adri, should I fix tests and make a real PR?

[2016-07-12 06:17] adri commented on #132
Yes that would be awesome!

[2016-07-13 17:14] esbenp commented on #132
Ping @adri @castarco @bensheldon

PR is here #161

I got the tests to work on my local machine by simulating "the end of a test case" by resetting the indexTable between recording responses and playing them back. Let me know what you think.

[2016-07-25 20:18] esbenp commented on #132
ping @adri

[2016-08-04 17:31] esbenp commented on #132
ping @castarco @adri

[2016-08-25 19:54] bwood commented on #155
I am also blocked by this problem. I am trying to record fixtures for calls to AWS SQS.  The `CurlMultiHandler::execute` gets stuck in an infinite loop when our code makes multiple calls to a function like [listQueues](http://docs.aws.amazon.com/aws-sdk-php/v2/api/class-Aws.Sqs.SqsClient.html#_listQueues) in a loop.  With PHP-VCR disabled, our code runs fine.

[2016-08-25 19:55] bwood commented on #155
@castarco Would you be willing to share your workaround?

[2016-09-09 06:47] esbenp commented on #132
ping @castarco

[2016-09-09 06:47] esbenp commented on #132
ping @castarco @adri

[2016-10-08 06:43] WillMac29 commented on #22
I know this is closed, but I was having an issue similar to this. Turns out it was the process-isolation flag in my phpunit.xml. VCR for whatever reason wanted process-isolation to be set to false.

[2016-10-17 20:19] renatomefidf commented on #152
@kasperg could you please test @buduchail solution?

@buduchail thanks for checking on that, I left some comments in your PR!

[2016-10-17 20:22] renatomefidf commented on #156
@Vasiliy-Bondarenko thanks for checking on this!
It looks like to be related to special chars, have you tried to investigate more about this?

Since we use symfony yml this could be a bug there!
If you have checked more I would gladly run some tests here as well!

Thank you

[2016-10-17 20:44] renatomefidf commented on #143
@adri @alnorth is it safe to change the empty string? Any tests covering this?

If you give me some more information I can look into it!

[2016-10-18 04:09] kasperg commented on #152
@renatomefidf I just tried it and can confirm that [the change fixes this issue](https://travis-ci.org/wsdl2phpgenerator/wsdl2phpgenerator/builds/168510033).

[2016-10-18 06:10] Vasiliy-Bondarenko commented on #156
@renatomefidf no, i did not. i gave up trying to make it work as i need.
but "https://www.best-tyres.ru/" - is real website, so may be the bug is still reproducible with it.

[2016-10-18 06:56] aaa2000 commented on #156
See documentation http://php-vcr.github.io/documentation/configuration/#Storage

Warning: Using the YAML storage could lead to a segmentation fault for large requests or responses. The problem could be fixed by increasing pcre.backtrack_limit in php.ini or by the use of the JSON storage.

[2016-10-18 06:57] aaa2000 commented on #156
See documentation http://php-vcr.github.io/documentation/configuration/#Storage

Warning: Using the YAML storage could lead to a segmentation fault for large requests or responses. The problem could be fixed by increasing pcre.backtrack_limit in php.ini or by the use of the JSON storage.

[2016-10-18 12:47] renatomefi opened #167 "Check the issues in a fork repository"
Check this in order to see what can be reused in the main repo:
https://github.com/linkwise/php-vcr/commits/master

[2016-10-26 19:12] #153 closed

[2016-10-26 19:21] renatomefi commented on #152
Thanks for everyone involved here.

This issue is from now fixed on php-vcr 1.3.1: https://github.com/php-vcr/php-vcr/releases/tag/1.3.1

[2016-10-26 19:21] #152 closed

[2016-10-26 19:21] renatomefi commented on #153
This issue is from now fixed on php-vcr 1.3.1: https://github.com/php-vcr/php-vcr/releases/tag/1.3.1

[2016-10-29 01:58] mhosks commented on #68
I'm having this problem with PHP 7.0.12.

[2016-11-07 09:25] thormeier commented on #155
Probably related to this one? https://github.com/php-vcr/php-vcr/pull/151

[2016-11-14 12:50] RichardBradley opened #174 "What can PHP-VCR users do to prevent passwords being saved?"
My API passwords are being saved to the "cassette" files by PHP-VCR.
This is a big problem for me, as I'd like to use PHP-VCR to help automate my tests, but I don't want to commit my API passwords to my source control.

The [PHP-VCR website says](https://php-vcr.github.io/):

... but I can't see an open issue tracking the implementation of this feature.

1. What options do I have in the current ve

[2016-11-14 13:40] renatomefi commented on #174
@RichardBradley thanks for you concern about it.

Currently there is no PR opened for it, the specific time for new feature comes after we clean all current issues and opened PR's.

Of course you can open a PR to fix that for us and then I'll gladly check it! Are you willing to do this?

I you want you can make some kind of encryption on the files and decrypt them in the CI environment, but it won

[2016-11-14 16:14] MrRio commented on #174
A nice way to do it might be to "scrub" any variables from requests that are found in .env and replace them with references to that

[2016-11-15 06:28] adri commented on #174
One way is to add listener for the `VCREvents::VCR_BEFORE_RECORD` event.

[code]

The [`BeforeRecord` event](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Event/BeforeRecordEvent.php) contains the
 * Request
 * Response and
 * Cassette.

[code]

Hope this helps.

[2016-11-23 14:32] adri commented on #103
To narrow down the issue, I've tried to come up with a test case. These were my findings:

1. Non-existent users on OSX behaves as expected `is_writable` is always `false`
1. Non-existent users on Linux behaves as expected `is_writable` is always `false`
1. Vagrant VM on linux with virtualbox shared mount behaves as expected, `is_writable` is always `false`
1. Vagrant VM on linux with NFS mount be

[2016-11-23 15:28] adri commented on #103
After some more debugging the issue seems to be:

1. When setting a `stream_wrapper on file://` [this if is false](https://github.com/php/php-src/blob/2104bea5d756dfa40b605a4a2765a3bc4637a76c/ext/standard/filestat.c#L777) and `VCWD_ACCESS` is not used.
2. [Masks based on the uid and gid are built](https://github.com/php/php-src/blob/2104bea5d756dfa40b605a4a2765a3bc4637a76c/ext/standard/filestat.c#

[2016-11-23 16:55] dbu commented on #103
yep, i think we used nfs back then. kind of horrible that we need to
fiddle around with user ids in the stream wrappers. i would have a
configuration flag to control this behaviour and not do it by default,
but try to point people in the right direction if they get errors.

[2016-11-23 17:03] adri commented on #103
Thanks @dbu! :)

Yeah the code that I posted is just a POC hack. I'm not sure yet how to solve this yet.
Fiddeling with `uid`, `gid` or `mode` sounds wrong. But yeah maybe a configuration "fix NFS permissions" is one way to do it.

[2016-11-24 07:09] dbu commented on #103
if its such a specific issue and really a workaround for one filesystem
bug with vagrant, i would consider a cheap hack with a configuration to
enable it ok. the configuration could be named a bit more generic, like
"apply permission hack".

[2016-11-24 11:41] adri commented on #103
Another idea: Overwriting the `is_writable` function just like we do with [cur functions](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/CodeTransform/CurlCodeTransform.php) and replacing it with a version that removes the `stream_wrapper`before calling the real `is_writeable` function and adding it after again. That would solve this issue in a non-hackish way. WDYT?

My problem with the h

[2016-11-24 13:15] dbu commented on #103
i'd still only do that on demand, but sounds more save.

[2016-11-30 15:51] diego3g opened #178 "php-vcr soap magento error"
Hello,

I'm currently using php-vcr to test some soap action within my magento website and when i use the VCR and try to load magento WSDL, the following error returns:

[code]

My unit test look like this:

[code]

And if i wget the same url in my server, it returns the XML normally.

Someone with the same problem?

ps: The fixture was saved and the content from WSDL is inside it normally.

[2016-11-30 16:00] #178 closed

[2016-12-03 11:11] jacques opened #180 "PHP-VCR ignore the soap encoding passed to the soapclient"
Looks like PHP-VCR is hardcoding the encoding to utf-8 causing issues with testing nusoap that requires the US-ASCII:

[code]

[2016-12-03 12:36] jacques commented on #180
Pull request submitted.  I will have a working example for this fix available this weekend.

[2016-12-05 19:17] x-yuri opened #182 "First response header gets lost"
https://github.com/php-vcr/php-vcr/blob/1.3.1/src/VCR/Util/CurlHelper.php#L60-L61
[code]
First line creates an array with status code line. Second line adds headers to the array. But first header doesn't get put into the array. Since element with index `0` already exists.

[2016-12-06 16:52] alnorth commented on #126
I think this was fixed here: https://github.com/php-vcr/phpunit-testlistener-vcr/pull/12. We can probably close this issue.

[2016-12-21 16:01] hthabet commented on #11
@kasperg @adri any updates about this?

[2016-12-21 16:15] adri commented on #11
I didn't come across a way how to do this yet. If the wsdl cache wouldn't be something internal to the php core I could see many ways.

If you have an idea please let us know.

[2016-12-22 23:04] librarywebchic commented on #182
I'm seeing this same issue.

[2017-01-04 00:40] TeslaDethray opened #187 "PUT gets changed to POST in 1.3.2"
In the output below I am running the same command twice in each of the most recent versions, displaying debug output emitted before and after the request is sent.

Running a fixtured command in 1.3.1
[code]

Running a fixtured command in 1.3.2
[code]

[2017-01-04 01:07] TeslaDethray commented on #187
In rifled through the code and found that this change is the cause of the issue:
https://github.com/php-vcr/php-vcr/commit/a05d40afe2784d506d3c5c2498abbbe3955765df

OK'd in this PR:
https://github.com/php-vcr/php-vcr/pull/175

What was the purpose of this?

[2017-01-04 01:18] TeslaDethray commented on #187
Opened #188. Please consider it.

[2017-01-05 09:01] tmdk commented on #187
I ran in to this problem too and created #186 that fixes this without having to revert #175

@TeslaDethray Can you take a look at it to see if it works for you?

[2017-01-11 13:03] bahjaat commented on #180
Any progress?

[2017-02-03 12:41] renatomefi commented on #187
Hello @TeslaDethray thanks for finding this out and I'm really sorry we got this in our code.
Could you check @tmdk solutions to see if it works for you?

[2017-02-03 12:56] renatomefi commented on #180
The PR is reviewed, @jacques could you provide some tests on it? https://github.com/php-vcr/php-vcr/pull/181

Thank you very much

[2017-02-21 19:40] TeslaDethray commented on #187
@tmdk @renatomefi Apologies for the delay. @tmdk's change is works on my project.

[2017-02-25 12:23] jacques commented on #180
Forgot to mention that the example using the my fork of php-vcr that fixes this is over @ https://github.com/jacques/php-freepaid

[2017-03-10 14:58] louismrose commented on #136
Hi there,

I also ran into the same issue as @acorncom this afternoon whilst trying to use PHP VCR with Braintree. I've cooked up a failing test and fix on #192. Thanks to @adri for the initial tip which led me pretty close to my proposed solution.

[2017-04-14 13:31] edwinheij opened #194 "Missing request headers with Soaphook? Proxy (Squid) fails."
Situation **without** Soaphook enabled, these are the _Request headers_:
[code]

Situation where the Soaphook is **enabled**. Request from cassette:
[code]

The response is:
[code]

The response body contains there error message (title of html page):
* The requested URL could not be retrieved

Some possible problems are (from response page body):
* Missing or unknown request method.
* Missing URL.

[2017-04-18 10:15] perssonmattias91 commented on #187
Any update on this? This happens to me as well in 1.3.2 but works in 1.3.1.

[2017-05-04 15:54] RichardBradley opened #195 "If `opcache` is enabled, VCR hooks may silently fail to work"
I have a CI server running my `phpunit` tests, which use PHP-VCR.

On that machine, I have:
[code]

I am finding that PHP-VCR is not successfully installing the Curl hook unless I add

    ini_set('opcache.enable', 0);

to my `tests.bootstrap.php`.

(I am running `phpunit` from the command-line, so I can't work out why the opcache is running here, but it definitely is. I have added logging to the

[2017-05-08 19:26] BrandonLegault opened #196 "Segfault regardless of YAML or JSON storage methods."
I'm getting this error when trying to create a cassette in phpStorm.

`Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)`

I'm using Intuit's QuickBooks Online php SDK to query their REST API for some data in my QuickBooks company. The REST API is OAuth based and their SDK uses php's `OAuth` object internally to GET some data. My wrapper library on their SDK works without iss

[2017-05-14 21:19] angyvolin opened #197 "Broken image in README.md caused by Dropbox's Public Folder changes."
As of March 15, 2017 the [Public folder in your Dropbox account has been converted into a standard folder](https://www.dropbox.com/help/files-folders/public). By default this folder is private to your account.

It seems like broken image link in `README.md` is caused by those changes. This can be easily fixed using the [following steps](https://www.dropbox.com/help/files-folders/view-only-access):

[2017-05-26 11:55] alnorth commented on #11
The URL http://wsf.cdyne.com/WeatherWS/Weather.asmx?WSDL now seems to be down. If we can't intercept the SOAP download can we at least use a URL that works?

[2017-05-27 10:27] #156 closed

[2017-05-27 10:41] Vasiliy-Bondarenko opened #199 "Inject custom Storage"
I've written my own Storage implementation for Laravel Eloquent.
And i want to inject and use it because it's **3.6 times faster** then json file-based storage.

for now i just hacked downloaded package with method in Configuration class:
[code]
and use it like this:
[code]
what is the best way to do it legally? :)
i can make a PR on just that method.
or may be i can send you whole my code and you

[2017-06-06 13:26] hectorj commented on #195
Can confirm, just got the same issue. Thanks for the workaround :+1:

[2017-06-06 16:46] Vasiliy-Bondarenko commented on #199
looks i was too optimistic. project is not live any more :))

[2017-06-07 09:10] slootjes opened #200 "Always base64 encode body"
When trying this cool library I have the issue that images with various headers are not detected as binary. This causes json or yaml storage to break and thus the library can not do it's job. When doing some testing I found that simply always base64 encoding the body solves my issue and all my recordings (including the ones with binary data) work flawlessly.

So either having the option to use a c

[2017-06-09 16:28] tiagobrito opened #201 "Not implemented: CURLSSLOPT_NO_REVOKE"
I'm getting `Not implemented: CURLSSLOPT_NO_REVOKE (2)`
[code]

[2017-06-14 19:53] adri commented on #201
Thank you! What library do you use? Do you have some example code?

[2017-06-14 19:57] tiagobrito commented on #201
Hello @adri! Thanks for your reply.
I'm using PayPal  SDK for PHP.
Yes, I can provide an example later today.

[2017-06-14 20:00] adri commented on #199
Hey :) Sorry for the late answer. Sounds awesome! Good idea to try a database.
Well done! Feel free to submit a PR which allows to hook in a custom storage!

Do you think sqlite could also work? That might be fast and it doesn't need a database as dependency.

[2017-06-14 23:30] tiagobrito commented on #201
@adri For example getting a payment details:
[code]

example: http://paypal.github.io/PayPal-PHP-SDK/sample/doc/payments/GetPayment.html

[2017-06-15 18:32] Schweppesale opened #202 "Not implemented: CURLINFO_TOTAL_TIME"
Hey, so I had just came across this bug when i noticed that PHP-VCR is not actually storing any of the following data inside the recorded fixtures:

http://php.net/manual/en/function.curl-getinfo.php

[2017-06-19 09:33] tiagobrito commented on #201
@adri Do you have any news on this ?

[2017-07-24 12:27] darxmac opened #205 "stat() errors"
I'm trying to use php-cvr in a CakePHP plugin, but it fails when the FileCache engine tries to check if a cache file exists or not, and when it does not, stat() fails like this:

[code]

any ideas ?

When running the tests with the cache file in place, it works fine

[2017-08-01 16:46] alnorth opened #208 "`CurlHelper::handleOutput` fails if `CURLOPT_HEADERFUNCTION` has been set to a protected function"
Perhaps we need to use some reflection to get round this scenario? Probably applies to the other calls to `call_user_func` for `CURLOPT_WRITEFUNCTION` and `CURLOPT_READFUNCTION`.

[2017-08-01 16:48] alnorth opened #209 "Has php-vcr been abandoned?"
Hi guys,

Has this project been abandoned or are you taking a temporary break? I'm happy to help out a little in reviewing pull requests and issues if that would help. php-vcr is a massive help to us.

[2017-09-09 23:24] Daniel15 opened #211 "Redirect in curl_multi causes hang"
Repro:
[code]

The first request completes (and correctly follows the redirect), but the second request hangs indefinitely. Guzzle itself handles this correctly, and it does not hang if VCR is disabled.

[2017-10-04 17:57] jimktrains opened #213 "Host Header gets overwritten whens setting the URL"
If a host header is set, either from a cassette or by hand, and then the URL is set (as is done in the constructor), the `setURL` method will overwrite the `Host` header.  This behavior is ill-advised and can cause issues when the `Host` header from curl contains a port, or if they were made to be different for a specific reason.

[2017-10-04 18:01] jimktrains opened #214 "Null-valued headers will never be considered equal"
While I won't defend null-valued headers, some libraries set them and curl will happily ignore them. They should either not stored or should compare as equal.

[2017-10-04 18:16] jimktrains commented on #214
Fixed in 394737a317f79abe1c7bdbe15621fe45700e24b7

[2017-10-04 18:17] #214 closed

[2017-10-16 19:48] ejunker commented on #182
Seeing the same issue. It is due to the use of `+=` to combine the arrays.

This example shows that when using `+` to combine arrays with numeric indexes that the first element of the second array is lost.
[code]

You can use `array_merge()` instead and it fixes the issue.

[code]

[2017-10-17 08:50] renatomefi commented on #209
Hello @alnorth,

It's kind of a hard timing for the current maintainers, we're working in other projects and php-vcr isn't part of our daily stack in some of the current projects!

Please, feel free to review the PRs and give your opinion, I'll try to stay a bit closer to do a second review, merge and tag.
After you get some knowledge we can make you owner or so!

Thanks for offering help

[2017-10-17 14:49] #182 closed

[2017-10-18 15:34] renatomefi commented on #187
@TeslaDethray @tmdk @perssonmattias91 Please update your libraries, if the problem persists please re-open the issue!

Thank you all for the contributions and help!

[2017-10-18 15:34] #187 closed

[2017-10-19 11:47] tmdk commented on #187
@renatomefi Thanks for checking in! I will test the new release.

[2017-10-23 14:21] renatomefi opened #224 "PHPCsFixer approach"
# Context
- php cs fixer is now a required dev library, even though it's only used being build or development it causes trouble because of php 5.3 version.

# The idea
- Let's remove it from composer and make a `composer cs-fix` script which downloads it and run it the same way it currently runs
- Change travis to do the same but only on php 7.1

[2017-10-23 19:11] nstapelbroek commented on #224
I'll give this a shot!

[2017-11-03 10:10] hannesl opened #227 "Support for effective_url"
Hi! I have a request that works fine when running against the backend, but when I use a recorded cassette I get `Undefined index: effective_url`. Looking in the recored cassette, i can find no record of that property/option.

The _effective url_ concept is mentioned both in the [PHP CURL docs](http://php.net/manual/en/function.curl-getinfo.php) and in the [Guzzle docs](http://guzzle3.readthedocs.i

[2017-11-09 02:56] snelg commented on #205
Ran into this myself. Tracked down the root problem and submitted pull request #231 to fix the issue.

[2017-11-13 15:50] renatomefi opened #233 "Rewrite Travis configuration using Build Stages"
The current Travis strategy is a bit messy if we check the change of directories and how the code style is checked, new feature Build Stages could help on that:
https://docs.travis-ci.com/user/build-stages/

Make sure the SOAP tests are different stages

[2017-11-28 03:13] cerw commented on #201
Same problem with Curl/Curl

[2017-11-29 10:20] Vasiliy-Bondarenko opened #234 "phpunit --filter=..."
I have a very strange behaviour of VCR.
if i run all my tests at once with phpunit - it's ok, responses are read from fixtures.
but if i run only 1 of this tests separately with
phpunit --filter=check_new_blocks_command
VCR tries to read from the network instead of fixtures. how can it be possible??? i'm lost. :)

the test looks like this:
[code]

[2017-11-29 12:06] renatomefi commented on #234
@Vasiliy-Bondarenko I think I've see this happening before.

Sadly I don't have the time to check, would you like to debug and please if possible submit a fix for us? I'll glad to test it in case you find something!

[2017-12-12 09:44] #224 closed

[2017-12-12 21:36] penja opened #239 "Does not open stream with code that generate salt by file_get_contents('/dev/urandom', false, null, 0, 16)"
Hi.
Thanks for this awesome library.

When using PHP VCR with code that use `file_get_contents('/dev/urandom', false, null, 0, 16)` for generating pseudo random salt. VCR recorder do not open the stream. We have got error like this:
[code]

[2018-01-11 14:10] darxmac commented on #211
Any ideas on how to fix this ? I'm trying to use php-vcr to test against Azure-php. If something calls the azure api once, it works, but the second call makes the recording hang.

[2018-01-12 08:38] darxmac opened #240 "Recording/replaying more than one azure-sdk-for-php call makes the test hang"
I'm trying to test calls to azure-sdk-for-php / blob service (container creating and blob upload) but if the method under test calls the azure api more than once the test hangs.

Looks like azure-sdk-for-php uses guzzle 6 and `Client::sendAsync` under the hood. Any ideas ?

[2018-01-29 21:55] hthabet commented on #227
Hi @hannesl, have you figured this out? I am running into the same issue...

[2018-01-29 22:03] hannesl commented on #227
Not really. I ended up eliminating `effective_url` in my app. I made [this change](https://github.com/hannesl/elasticsearch-php/commit/076e1dc9a8a98804cefb607e2db98ee850c7f599) in a forked version of the Elasticsearch client.

[2018-01-29 22:49] hthabet commented on #227
Ok yeah... I see your little workaround :-) but not really ideal but it does the job for now.

[2018-02-01 16:57] hthabet commented on #227
Hey @hannesl if you like, you can try to test if the patch I made to php-vcr (PR pending: https://github.com/php-vcr/php-vcr/pull/241) fixes the issue for you. it did on my end.

[2018-02-06 12:01] hannesl commented on #227
@hthabet Good job! I can't test it right now, but I hope I'll be able to come back to it.

[2018-02-14 10:18] killua99 commented on #239
Did you fix this issue?

[2018-02-20 08:39] cierzniak opened #243 "Stream PDF file"
Hi,
I can't handle this for two days. I need help! If it's related to #230, does it could be merged?

I have Guzzle request with `stream => true` option to fetch PDF file from external API. Request via browser or Postman works with success, tests in PHPUnit works, but tests in PHPUnit with PHP-VCR fails.

I still have **array_shift() expects parameter 1 to be array, null given** at https://github.

[2018-02-20 10:53] killua99 commented on #211
Did you find anything @darxmac I'm running with the same behaviour, the VCR hangs on any request POST via cURL. It has to be related to a lack of Content-Lenght in the response header. I can't yet confirm it 100% but many of google search point to that.

[2018-02-20 11:04] darxmac commented on #211
No, nothing. Sadly this project is a bit abandoned

Sent from my iPhone

[2018-03-01 16:06] stijink commented on #202
I have the same issue here.

[2018-04-11 13:10] kasperg commented on #71
Perhaps it is worth mentioning [`aaa2000/behat-vcr-extension`](https://github.com/aaa2000/behat-vcr-extension) here. It does not pop up in searches for "behat php-vcr" - this issue does.

[2018-04-11 13:12] renatomefi commented on #71
@kasperg indeed, thank you!

[2018-04-12 20:43] allejo commented on #174
Here's a quick and dirty solution that works for *my* use cases.

https://github.com/allejo/php-vcr-sanitizer

[2018-04-13 15:13] moufmouf commented on #211
Hey guys! If you are still facing this issue, it should be solved by #248.

[2018-05-30 14:58] #239 closed

[2018-05-30 15:10] renatomefi commented on #239
Please update to v1.4.3

[2018-06-04 09:35] sithara commented on #239
This seems to be still breaking for me when I try to open a local file using file_get_contents in my `phpunit` tests. Appreciate any help

[2018-06-04 09:39] renatomefi commented on #239
@sithara what's the version you have installed? The version 1.4.3 is still marked as pre-release for testing, so you might have to force it on you composer.json

[2018-06-12 07:17] sithara opened #251 "php-vcr not replaying cassette instead firing multiple requests"
My tests configured with `php-vcr` records requests to vcr-cassette but does not replay the cassette . Instead it fires the http request over and over again

[code]

and this is my Bootstrap.php

[code]

The external server is hit within the `orders#upload` action. The requests get captured correctly in the vcr cassette but instead of replaying the request the next time, it saves another new reque

[2018-06-12 09:08] sithara commented on #239
My `php-vcr` version is `1.3.2` . I'm also getting very weird errors like https://github.com/php-vcr/php-vcr/issues/251 . It works correctly if its the cassette is set to record file_get_contents('http://www.google.com') . In my case, I have a `curl_exec` posting file contents to a server. Not sure where I'm going wrong

[2018-06-13 09:23] renatomefi commented on #239
@sithara so please first update to 1.4.3 and try again

[2018-07-25 19:35] bkosborne commented on #167
This repo does not exist anymore

[2018-07-25 19:47] bkosborne opened #253 "Not working for Behat tests in Drupal 8"
I wonder if anyone has this library working for writing behat tests in Drupal 8? I'm using the version 1.4.4 of this library and my own fork of the [https://github.com/bkosborne/behat-vcr-extension](behat vcr extension) (so I could incorporate a bug fix and allow a version bump of this library).

I just get blank cassette files, which I think indicates that this library's replacement curl function

[2018-07-26 09:36] renatomefi commented on #167
@bkosborne true, maybe they don't need a fork anymore, it's from 2016.. haha
thanks

[2018-07-26 09:36] #167 closed

[2018-10-19 18:47] moufmouf commented on #253
Hey @bkosborne ,

Your issue might be related to an Opcache issue I've been facing.
Basically, if your PHP files are loaded into Opcache and if you enable PHP-VCR after that, PHP-VCR will not be able to "instrument" the PHP files and injects its code in those.

#254 will fix this when merged. It might be a good idea to retest PHP-VCR when this is merged.

[2018-10-20 09:04] moufmouf opened #256 "Modernize PHP-VCR?"
Hey @renatomefi ,

I've submitted a few PRs and plan to submit a few others next week.
One thing I noticed is that the application would probably gain from being strictly typed.

Here is an example:

https://github.com/php-vcr/php-vcr/blob/378033762ca95e89d9f371c2ae3a58e1e2b030db/src/VCR/Util/HttpClient.php#L35

`HttpUtil::parseResponse` expects a string as parameter, but `curl_exec` can return st

[2018-10-23 14:51] moufmouf commented on #256
Ping @renatomefi ,

Sorry to bother you but I have a bit of time right now to work on this and I might not have that time in the coming weeks. Can I start  working on this? Would you merge such a PR?

[2018-10-24 12:54] renatomefi commented on #256
Hello @moufmouf!

Wow, thanks a lot for willing to put all this effort!

Currently my only goal in the project was to keep it stable and compatible, I do understand the whole quality this approach can bring to the tool and it's really great!

I'm just unsure whether we'd do that as a 1.5 branch, I think it's safer to go for v2 but then the adoption will be harder, even tho I understand you want to

[2018-10-24 14:36] moufmouf commented on #256
Hey @renatomefi !

Excellent!

Well, I have no strong opinion on this.

I have no plans for introducing breaking changes, so going to 1.5 seemed more natural.

On the other end, PHP-VCR is a "dev" dependency, and not many libraries depend on it (it is mostly used in projects). For project owners, upgrading will be simple, as long as they do not depend on a library that itself depend on PHP-VCR.
An

[2018-12-06 16:07] Kocal opened #263 "How does Version Control works?"
Hey!

Today one of the API we use has added a new JSON field in the response for the exact same request (URL, headers, ...), but the already existing cassette has not been updated.

PHP-VCR should warn us or update the already-existing cassette if the response body is different from the previous cassette - for the exact same request - no?

So my question is how does Version Control works? I don't

[2018-12-06 16:44] renatomefi commented on #263
Hello @Kocal

The version control is git itself, when you first run and the cassette is recorded it'll be in your file which then can be committed, if you remove it and make a new call you can commit the new version, so on and so forth!

Is that more clear or you need more details?

[2018-12-06 16:56] Kocal commented on #263
Ah, okay.
So it means that:
- I should be aware of API response's changes changes
- If I should update every cassettes, the best thing to do is to remove every of my cassettes and run PHPUnit again?

And so, what about `See if external APIs change` on the slide? 🤔

[2018-12-17 14:33] djaiss commented on #251
I do have the same problem in my Laravel installation. It's captured correctly but it does not replay the cassette. I have no idea how to make it work correctly.

[2018-12-18 09:38] Kocal commented on #263
Sorry to ping you @renatomefi, but I don't think you saw my last message.
Thanks!

[2018-12-19 06:29] taufek opened #265 "Is Possible To Configure PHP VCR to Work With Laravel Dusk?"
I wish to run [Laravel Dusk](https://github.com/laravel/dusk) tests while mocking all external requests. Is this possible to use PHP VCR and Laravel Dusk to achieve this?

[2018-12-19 12:34] renatomefi commented on #265
Hello @taufek
I've never used Dusk, maybe you can just try it and see how it works? VCR should be invisible to Dusk in that sense.
Please try and let us know, thanks!

[2019-01-08 16:40] tristanbes commented on #263
I'm also interested in this

[2019-02-01 07:06] bassrock opened #268 "Abstract Code Transform Splits In Middle Of File"
When trying to use PHP-vcr with the stripe api it turns out that the [filter function](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/CodeTransform/AbstractCodeTransform.php#L50) happens to split the code file right in the middle of the curl statement at this line:

https://github.com/stripe/stripe-php/blob/master/lib/HttpClient/CurlClient.php#L253

This causes php-vcr to not properly repl

[2019-03-21 16:01] kaktus-74 opened #272 "HttpUtil::parseResponse fails on empty $response"
It can happen that $response will be empty string (sometimes on 404 error)

and line
`list($rawHeader, $rawBody) = explode("\r\n\r\n", $response, 2);`
will throw an exception
`ErrorException: Undefined offset: 1 in \vendor\php-vcr\php-vcr\src\VCR\Util\HttpUtil.php on line 70`

[2019-04-30 21:51] Gberzi01 opened #274 "enableLibraryHooks doesn't correctly disable stream_wrapper functions"
Trying to implement php-vcr with Laravel dusk tests I ran into a problem where \Cache::rememberForever always throws an error
_ErrorException: unserialize(): Error at offset 2 of 8182 bytes_

Reading the documentation it mentions that stream_wrapper is the hook responsible for php functions like fopen. But only enabling the curl and soap hooks still threw the error. So after further inspection it

[2019-05-30 12:27] dbellettini commented on #67
I can reproduce this issue on Linux and PHP 7.3.5

https://stackoverflow.com/questions/56289730/php-vcr-will-break-autoload-of-phpunit

[2019-07-15 09:26] janvernieuwe opened #277 "Symfony 4.3 Deprecations"
[code]

I got these after upgrading to SF4.3

[2019-09-17 05:11] specialtactics opened #280 "Easy way to update a VCR fixture?"
Hi

Already having VCR in place, is there any global or test specific flag I can set (using code) to make VCR update the fixture with the request, instead of using it for the request?

The use case is that say you have a test file with 20 tests all using separate fixtures, and you want to update all of them easily, without having to put all the cassete inserting and saving code all over your tests

[2019-09-17 05:29] specialtactics commented on #280
Just figured out the thing im looking for is mode new_episodes :rofl:

[2019-09-17 05:29] #280 closed

[2019-10-21 09:23] specialtactics opened #281 "VCR not triggering, requests going straight to guzzle"
I'm having an issue which may be related to https://github.com/php-vcr/php-vcr/issues/234 but not necessarily the same.

After updating a lot of packages (part of our update from laravel 5 to laravel 6), I now have a strange issue whereby;

If I run an individual test, it works fine with VCR
If I run a whole file (with many VCRs), many of them fail - and it is evident the requests are not going to

[2019-10-21 11:07] specialtactics commented on #281
Disregard, not an issue.

[2019-10-21 11:07] #281 closed

[2019-10-24 08:05] #277 closed

[2019-10-24 08:10] janvernieuwe opened #282 "SoapCodeTransform"
When there is a class that extends for example a `MySoapClientBuilder` it will be replaced with  `extends \VCR\Util\SoapClientBuilder` which doesn't exist and causes the client to be untestable while using php-vcr.

This happens in the `SoapCodeTransform`, I think the second pattern regex could be improved to prevent this kind of behavior.

[2019-10-28 00:32] kb10uy opened #284 "CurlHook does not treat reference parameters well"
FYI: https://github.com/mpyw/co/pull/26#issuecomment-546281623

`CurlHook` class receives all original curl function calls with `__callStatic`.
When 2nd parameter of `curl_multi_exec` is undefined at caller, `Undefined variable` error will occur. This is malfunctional behavior in that original function does not need initialization of that parameter.

[2019-12-02 09:34] janvernieuwe opened #289 "PHP7.4 & guzzle"
Since upgrading to php7.4 im getting

[code]
I have noticed this on multiple projects. I'll try to look into this later today, but as of now it's not really usable on php 7.4.

I only get this error when VCR is turned on.

[2019-12-07 08:49] foremtehan opened #291 "setCassettePath not working in phpunit setUp method"
[code]

Is it possible to use `setCassettePath` on phpunit `setUp` method? i hate using it on `bootsrap.php` file because for every test i should execute that method.

[2019-12-10 10:49] JapSeyz commented on #289
Did you dig further into this?

[2019-12-10 14:11] janvernieuwe commented on #289
I tried, but there is some really weird issue going on. It almost seems that files are not completely loaded after x lines. It's very strange. If I find something, I'll make it known here.

[2019-12-10 14:59] brunowowk commented on #289
Maybe it's a regression on this php 7.4 bug: https://bugs.php.net/bug.php?id=78406

Tried finding the exact spot where it occurs with xdebug and it seems to happen when the file is included.
The CodeTransform works as expected, but somehow it seems that part of the stream is ignored, probably because the code transform increases the file size and the old file size is considered.

Looks like It's b

[2019-12-14 17:41] morozov commented on #289
[Bug #78406](https://bugs.php.net/bug.php?id=78406) is closed and according to https://3v4l.org/jEMEE is no longer reproducible although underlying logic and the symptoms look very similar.

Could anyone who is better familiar with the VCR internals rework the code snippet mentioned above to reproduce the issue in isolation from the VCR itself? Then it could be reported and fixed upstream.

[2019-12-30 14:03] janvernieuwe commented on #289
I have a feeling it is related to this issue https://github.com/goaop/framework/issues/426
Unfortunately no fix found yet.

[2019-12-30 15:25] morozov commented on #289
Could you please try reproducing the bug in isolation from the rest of the VCR code?

[2019-12-31 09:24] janvernieuwe commented on #289
I tried to remove as much as possible.
https://github.com/janvernieuwe/php-vcr-debug

I'm now looking at the patchwork library (https://github.com/antecedent/patchwork), where the streamprocessor of vcr seems to be based, to see if I can find a solution there.

[2019-12-31 15:48] morozov commented on #289
@janvernieuwe this is good progress! At [bugs.php.net](https://bugs.php.net/), they accept a code sample that reproduces the problem. The same could be evaluated at [3v4l.org](http://3v4l.org/). Could you put all the code in one file and potentially remove some more irrelevant pieces?

Once it's reproducible in a single PHP script, we can file a bug.

[2020-01-01 19:35] carusogabriel opened #292 "Revamp PHP-VCR"
Alright, after a while PHP-VCR is back in the game 💪🏻

As we have new maintainers, the goal is to revamp and modernize this project in its version `2.0` 🎉

We'll take a look into the open PRs and get familiar with the codebase so we can start to merge and improve some stuff 🛠

Main ideas for now 💡

- Require minimum PHP 7.2 (as proposed in #259 by @moufmouf)
- Require Symfony 5 (as proposed in #28

[2020-01-01 19:37] carusogabriel commented on #209
@alnorth For a while, this project took a break. In 2020, some other maintainers and I will work in a new modern `v2` of `PHP-VCR` 😅

[2020-01-01 19:37] #209 closed

[2020-01-01 19:45] carusogabriel commented on #292
The development of this new version will happen in the [`2.x branch`](https://github.com/php-vcr/php-vcr/tree/2.x).

[2020-01-03 22:48] janvernieuwe commented on #289
I'll take a look on monday, but it happens on include, so the file needs to to be separate in the testing.

[2020-01-03 22:49] janvernieuwe commented on #292
Hell yeah <3
I'll look into contributing.

[2020-01-06 08:34] janvernieuwe commented on #289
Gets even weirder now. When I add the classes into the file itself instead of including them, the error doesn't seem to be occurring.

I left the `run.php` in place and added a `run2.php` where the classes are included.
Weirdness.

[2020-01-06 16:53] morozov commented on #289
I've filed the bug and referenced the repository above: https://bugs.php.net/bug.php?id=79072.

[2020-01-07 08:23] janvernieuwe commented on #289
Nice, seems like an easy enough fix!

[2020-01-07 08:47] carusogabriel commented on #289
@janvernieuwe @morozov I'll take a look into this during this week, I want first ensure that #292 and #256 don't get conflict with it :)

[2020-01-07 15:49] clemherreman commented on #292
Yey, couldn't be happier to see this project will have new people maintaining it. Thank you for stepping up <3

A couple of feedback, about that roadmap:

* Requiring only Symfony 4.4 allows more people to move to that 2.0 version, as any 4.x version will be ok.
* What do you feel about maintaining (a little) the 1.x version? I personnally have some simple PR waiting for merge, and I would gladly

[2020-01-07 15:53] morozov commented on #289
Please see #293.

[2020-01-07 15:56] morozov commented on #289
Thanks, @carusogabriel. Since #292 is about bumping the minimal required PHP version, I'd like to make sure that the fix for this issue is released before the version is bumped so that PHPBrew can use it before it bumps its own PHP requirement.

[2020-01-08 09:26] moufmouf commented on #292
Excellent news!

I've spent quite some time last year working on modernizing the PHP codebase (in #259 as you noted).
Tell me if you need some help :)

[2020-01-08 09:28] carusogabriel commented on #292
@moufmouf My idea is to use your code/commits instead of trying something from scratch :)

[2020-01-08 09:30] carusogabriel commented on #292
@clemherreman We can go for 4.4, as it'll be maintained for a while: https://symfony.com/releases#checker.

We can consider that. I'll take a look into the PRs/issues.

[2020-01-30 10:36] danielbecker commented on #289
I'd like to bump the issue as we're having trouble with it, as well.

[2020-01-30 13:26] bomas13 commented on #289
Unfortunately for me this fixes the initial error like `syntax error, unexpected end of file...` but the test seems to get into an endless loop and runs for 60min without a timeout. Does anyone have a similar behaviour or better yet a solution for it?

[2020-01-30 14:11] carusogabriel commented on #289
I'm on vacation until February 17th. Once I'm back, I'll take a look at this 👍

[2020-01-30 14:28] bomas13 commented on #289
Ah ok. Have a nice holiday!

Just for your information: After updating PHP to 7.4.2. I'm getting the following error (incl. fix from morozov):
[code]

Without the fix and 7.4.2 it behaves like in the first comment

[2020-01-31 08:10] bomas13 commented on #289
We could find a solution for the exception.
The problem with my endless loop was not vcr related.

[2020-02-07 17:33] morozov opened #296 "The JSON storage is slow and unnecessarily CPU-consuming"
I have a test where the VCR intercepts 3 HTTP requests totaling ~1MB. Given that the corresponding responses are cached, I’d expect the test to pass in fractions of a second but it takes about 6 seconds.

![callgraph](https://user-images.githubusercontent.com/59683/74051055-1a142b80-498c-11ea-84f1-d7591aafbc98.png)

The reason is that the JSON storage is implemented in a memory-efficient way and r

[2020-02-11 10:12] janvernieuwe commented on #292
Having 4.4 supported in version 1 would also be fine, and having SF5 in v2.
The only thing is that something really needs to happen, as it is now, php-vcr is not usable with php 7.4 or with SF5 (Both things I use).

I have already resorted to a private fork to have the 7.4 fixes working, and did a few tweaks, I'd rather have all those in the main repo ofcourse!

[2020-02-13 06:50] morozov commented on #296
In addition to the performance problem, there is a problem with parsing stored JSON: the actual request/response bodies are parsed as JSON too that may create issues like the following:
[code]

[2020-02-14 09:40] clemherreman commented on #292
I tried to update to Symfony 4.4, but I was stuck because some things symfony/http-client uses in cURL are not supported by PHP-VCR.

I also have a fork, and did some PR back to PHP-VCR to fix some of those, but not all. By any chance, could you make your fork public? :)

[2020-02-14 09:47] janvernieuwe commented on #292
We're currently looking into alternatives with http client middlewares.
The private fork contains changes made for the company I work for, so I cant easily make it public.

I had it working on SF 4.4 with guzzle tho, just by fixing the 7.4 bug.

[2020-02-17 11:31] bomas13 commented on #289
after I switched from my vanilla curl usage to guzzle I run into issues that seem to related to the steam_wrapper issues again. My tests are all getting green, but after PHPUnit prints out the test summary, it won't quit the application successfully. If I run a couple of tests that do not use VCR this behavior doesn't come up. (See the Screenshot. The first test lines are aborted after several min

[2020-02-20 07:09] danielbecker commented on #289
Hey guys, any update here? We could really need a working version for php 7.4. I'm happy to have a look myself if you could point me at least into the right direction?

[2020-02-20 07:24] morozov commented on #289
@danielbecker please see https://github.com/php-vcr/php-vcr/pull/293#issuecomment-574749637.

[2020-02-20 08:01] danielbecker commented on #289
Thanks for the response @morozov. As @bomas13 mentioned, phpunit doesn't terminate. Even with the patch applied.

[2020-03-01 00:17] carusogabriel commented on #292
I'm sorry to inform you all but I won't be able to work on `php-vcr` anymore due to personal reasons.

I've contacted the maintainers and they'll find someone else to maintain this package.

[2020-03-01 11:22] janvernieuwe commented on #292
Sorry to hear that, but I thank you for your efforts so far!
Also thanks for communicating this clearly.

[2020-05-04 17:44] matt-allan commented on #296
I'm not positive but a [JSON streaming format](https://en.wikipedia.org/wiki/JSON_streaming) would probably be more efficient to parse since you could read the entire object with a single function call.

[2020-05-04 18:04] morozov commented on #296
@matt-allan it would but it turns out to be overkill. We don't really need to _parse_ the body at all. We need to make sure we parse the envelope properly. See the PR above.

[2020-05-15 16:11] ibsrini opened #303 "PHP VCR is not supporting Laravel 7.0"
We are using php-vcr in Laravel 6.0. Trying to upgrade 7.0 and getting below error.
- symfony/event-dispatcher v2.6.0 conflicts with symfony/console[v5.0.8].

Below packages needs to update latest version and support.
"symfony/yaml": "~2.1|^3.0|^4.0",
"symfony/event-dispatcher": "^2.4|^3.0|^4.0"

I have tried to fetch latest versions like below
"symfony/yaml": "~2.1|^3.0|^4.0|^5.0",
"symfony/event

[2020-05-20 10:58] JeroenVanOort commented on #303
I would suggest adding support for Symfony 5 to PHP-VCR, as that is what is the core problem.

[2020-05-20 11:09] JeroenVanOort commented on #292
I'm willing to help out where I can. How do I get involved?

[2020-05-20 15:43] ibsrini commented on #303
Yes, support for Symfony 5 is main problem with PHP 7.3.

For upgrade PHP-VCR is not working on PHP 7.4.

Regards,
Srini

[2020-05-21 18:24] JeroenVanOort opened #304 "2020 Revamp!"
As I've found php-vcr to be of great help in quite some projects and after seeing it without active maintainers for a while, I've applied as a maintainer. @adri has since trusted me to be an owner of the php-vcr organization and I'll do what I can to help this project forward.

At this moment, there is quite a lot of existing community input, i.e. issues and PR's. My first goal is to clean that up

[2020-05-21 18:27] MrRio commented on #304
This sounds great. Looking forward to seeing the project move forward!

On Thu, 21 May 2020 at 19:24, Jeroen van Oort <notifications@github.com>
wrote:

--
James Hall
Director

Parallax

Office: +44 113 322 6477
Mobile: +44 7894 950320
Web: https://parall.ax

• Northern Tech 100 - Three Years Running
• Top 50 Digital Agencies in the North - Two Years Running
• A Yorkshire & Humberside Top 50 Tech

[2020-05-22 08:14] moufmouf commented on #304
@JeroenVanOort this is huge news! Thanks for taking this over.

About 2 years ago, I spent quite some time working on a complete refactoring of PHP-VCR (merging a number of PRs from others to make the project usable again, adding PHPStan, type-hints everywhere, etc...)

I put all the work in this PR #259.

Talking with @renatomefi , we agreed to put this work in a 2.0 branch (see: https://github.c

[2020-05-22 10:17] vivoconunxino opened #308 "no SOAPAction header!"
I'm getting `SoapFault: WSWS3147E: Error: no SOAPAction header!` when using the vcr.

I'm doing the call this way, trying to pass the SOAPAction someway so the vcr receives it as a parameter:

$response = $this->soapClient->__soapCall("trataPeticion", array($params), ['soapaction' => 'trataPeticion'], new SoapHeader('somthing', 'something', 'something'));

Still no luck, if I edit the `vendor/php-

[2020-05-22 16:35] #90 closed, assigned to nobody

[2020-05-22 16:39] JeroenVanOort commented on #126
As this issue hasn't seen activity for some time, I'm assuming this has been fixed and will close this issue.

[2020-05-22 16:39] #126 closed

[2020-05-22 16:40] JeroenVanOort commented on #142
While we're still looking for co-maintainers, having a separate issue for just that seems unneeded.

[2020-05-22 16:40] #142 closed

[2020-05-22 16:51] JeroenVanOort commented on #265
PHP-VCR can not work with browser tests, regardless of the package you use. That's because the test code and the application code are executed separately.

Yes, that's annoying at time, but not something we can do anything about.

[2020-05-22 16:51] #265 closed

[2020-05-22 17:28] #289 closed

[2020-05-24 10:18] andriuspetrauskis commented on #304
Wow, this is awesome. I almost lost hope that someone will update this.

I did some work on my fork, but didn't create any PRs since this was unmaintained.

Not sure if that can be merged back to this since it relies on some PRs that @moufmouf and others created.

But despite that I would love to help to bring this to life!

[2020-05-26 17:30] andriuspetrauskis commented on #308
Hi @vivoconunxino, what is the version of your soap server?

[2020-05-27 08:11] vivoconunxino commented on #308
Uses <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> so I think it's 1_1. This is the WSDL: https://sis-t.redsys.es:25443/sis/services/SerClsWSEntrada/wsdl/SerClsWSEntrada.wsdl

[2020-06-03 21:43] ibsrini opened #309 "BadMethodCallException: Not implemented: CURLINFO_APPCONNECT_TIME (3145761)"
When I run the test, it throws the error
BadMethodCallException: Not implemented: CURLINFO_APPCONNECT_TIME (3145761)

and the file path is
/php-vcr/php-vcr/src/VCR/Util/CurlHelper.php:131

[2020-06-08 13:22] JeroenVanOort commented on #309
Could you give some more information? Like the PHP version and what test you're running exactly. It helps to recreate the circumstances.

[2020-06-15 13:51] pauladams8 opened #312 "[Bug] Malformed Set-Cookie header"
VCR's HTTP client is incorrectly folding `Set-Cookie` headers on the response into a single, comma separated header. This practice was deprecated as of April 2011 under RFC 6265 due to parsing conflicts with the `,` character.

To quote the RFC:

   a single header field.  The usual mechanism for folding HTTP headers
   fields (i.e., as defined in [RFC2616]) might change the semantics of
   the Se

[2020-06-15 13:52] pauladams8 commented on #312
See https://github.com/php-vcr/php-vcr/blob/267674dc88e0dbe304c6de79697215e295a36d05/src/VCR/Util/HttpUtil.php#L15

[2020-06-17 05:49] ibsrini commented on #309
Hi, I have using it on PHP 7.3
If I make HTTP call to external servers, I am getting the errors.
<img width="845" alt="Screen Shot 2020-06-16 at 10 48 32 PM" src="https://user-images.githubusercontent.com/64610028/84860262-9944fa80-b023-11ea-82b4-e6b3c9ac8595.png">

[2020-06-18 07:49] JeroenVanOort commented on #309
Which versions of curl and php-vcr are you running?

[2020-06-18 14:32] ibsrini commented on #309
I am using macOS Catalina 10.15.5
**Curl version:**
curl 7.70.0 (x86_64-apple-darwin19.4.0) libcurl/7.70.0 SecureTransport zlib/1.2.11
Release-Date: 2020-04-29
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IPv6 Largefile libz NTLM NTLM_WB SSL UnixSockets

php-vcr - 1.4 with fix of event-dispatcher & symfony

[2020-06-20 18:44] JeroenVanOort commented on #256
Since the PR has been merged to branch `1.5`, it seems right to close this issue now.

[2020-06-20 18:44] #256 closed

[2020-06-20 18:47] JeroenVanOort commented on #233
Since the PR has been closed, it seems right to close this issue.

[2020-06-20 18:47] #233 closed

[2020-06-22 21:05] #312 closed

[2020-06-23 13:05] clemherreman commented on #304
A main thing to improve is that PHP-VCR is not compatible with Symfony HttpClient 4.4+.

We fixed some quirks at work, on our fork https://github.com/clemherreman/php-vcr. We did some PR upstream, but got discouraged as they weren't being merged.

Today we are stuck with Symfony 4.3 because of our extensive use of PHP-VCR. I might be able to write a test suite with Symfony HttpClient, much like th

[2020-06-24 17:43] JeroenVanOort commented on #304
We sure are working on that: https://github.com/php-vcr/php-vcr/pull/311

I'm very much willing review and hopefully merge your contributions. I also expect to have the time for it.

[2020-06-24 18:20] JeroenVanOort commented on #195
This will be fixed in version 1.5.

[2020-06-24 18:20] #195 closed

[2020-06-24 18:22] JeroenVanOort commented on #253
Please retest when 1.5.0 is released, as it will contain the opcode fix.

[2020-06-24 18:22] #253 closed

[2020-07-01 22:51] baohx2000 opened #318 "[Feature Request] Only cache requests to specific domains (allow-list or block-list based)"
I want to use this in my integration tests.

To do this, I still want to cache requests to 3rd party services.

I do *not* want to cache requests between internal services (easily based on request host).

[2020-07-04 09:23] JeroenVanOort commented on #282
Thank you for your contribution! I've just merged the PR.

[2020-07-04 09:23] #282 closed

[2020-07-04 09:38] JeroenVanOort commented on #197
This has since been fixed: https://github.com/php-vcr/php-vcr/commit/5797258777e6581373152688e7ec6148f5ee6e08#diff-04c6e90faac2675aa89e2176d2eec7d8

[2020-07-04 09:38] #197 closed

[2020-07-04 09:41] JeroenVanOort commented on #109
I'm closing this, since it no longer seems to be a problem.

[2020-07-04 09:41] #109 closed

[2020-07-04 09:42] JeroenVanOort commented on #20
As this has been open since 2013 without comments or references, I think it is safe to conclude there is no need.

[2020-07-04 09:42] #20 closed

[2020-07-04 09:43] JeroenVanOort commented on #16
I think it would be safe to conclude this is no longer needed.

[2020-07-04 09:43] #16 closed

[2020-07-04 09:47] JeroenVanOort commented on #55
Since this hasn't had comments or references for many years, I'm closing this now.

[2020-07-04 09:47] #55 closed

[2020-07-04 09:50] JeroenVanOort commented on #71
As there is an extension, I think this is no longer an open issue.

[2020-07-04 09:50] #71 closed

[2020-07-04 09:53] JeroenVanOort commented on #67
If anyone still has a problem running PHP-VCR on Windows, please open a new issue.

@dbellettini I think your want to open a new issue for this, as I do not see the relevance to PHP-VCR not working correctly on Windows.

[2020-07-04 09:53] #67 closed

[2020-07-04 09:54] JeroenVanOort commented on #115
I think this has been fixed by now.

[2020-07-04 09:54] #115 closed

[2020-07-04 09:55] JeroenVanOort commented on #103
It seems that this has been fixed.

[2020-07-04 09:55] #103 closed

[2020-07-06 21:35] jacques opened #320 "Updated versions of symfony components allowed"
Is there any chances that version 5.0/5.1 of symfony/event-dispatcher will be allowed?

[2020-07-08 18:29] JeroenVanOort commented on #320
Yes, we are working on that in version 1.5, for which an alpha version is available.

[2020-07-12 09:48] JeroenVanOort commented on #234
This works fine in now. If this occurs once more, please open a new issue referencing this one.

[2020-07-12 09:48] #234 closed

[2020-07-12 15:19] JeroenVanOort commented on #263
I'm answering this not because I think the answer will be of use to @Kocal (it's been a while) but more as a general explanation for anyone having the same question.

So, there are two conflicting interests at play here. The first is that you want to be alerted of any changes in an API you're consuming. And the other one is that, for many reasons, you don't always want to test against a live API (

[2020-07-12 15:19] #263 closed

[2020-07-14 19:33] avrahamappel commented on #309
Getting a similar error:
[code]
php-vcr/php-vcr: 1.5.0alpha1
guzzlehttp/guzzle: 6.5.5 (was working before I switched to Guzzle from raw curl)
php: 7.4.8
curl: 7.64.1 (x86_64-apple-darwin19.0) libcurl/7.64.1 (SecureTransport) LibreSSL/2.8.3 zlib/1.2.11 nghttp2/1.39.2
macOS Catalina 10.15.5

[2020-07-21 13:35] endrsmar opened #322 "fstat call fails for non-altered streams"
Using PHP-VCR and FPDI together in a test, when an FPDI tries to load a PDF file it crashes. The reason for this is it tries to get the size of an PDF file in one of the methods, but the file stream is wrapped in the PHP-VCR `StreamProcessor` which always returns `false` when asked for `stream_stat` even if the stream is not actually modified by any transformers. I prepared a PR to fix this issue:

[2020-07-26 11:08] JeroenVanOort commented on #322
Not to self: a PR has been made: https://github.com/php-vcr/php-vcr/pull/321

[2020-07-26 11:16] JeroenVanOort commented on #96
As this hasn't been worked on in years, I think now is a good time to close this issue. If anyone wants to work on this, or any other objective, in the future, please open an new issue.

[2020-07-26 11:16] #96 closed

[2020-07-27 09:30] igaster commented on #309
I get the same error:

[code]

I could trace the error into Guzzle client here:  [Guzzle::CurlFactory()](https://github.com/guzzle/guzzle/blob/c19f9e2493942634f740e7bed5c6a9f85cc19453/src/Handler/CurlFactory.php#L131). If I comment this line then it works fine.

PHP constant `CURLINFO_APPCONNECT_TIME` has a value of `3145761` and it is described in [php documentation](https://www.php.net/manual/en

[2020-07-28 07:13] endrsmar commented on #322
Is fixed in 1.5

[2020-07-28 07:13] #322 closed

[2020-07-28 11:58] JeroenVanOort commented on #320
Resolved by https://github.com/php-vcr/php-vcr/issues/320 in 1.5.0.

[2020-07-28 11:58] #320 closed

[2020-07-28 11:58] JeroenVanOort commented on #303
Resolved by https://github.com/php-vcr/php-vcr/issues/320 in 1.5.0.

[2020-07-28 11:58] #303 closed

[2020-07-28 12:01] JeroenVanOort commented on #292
1.5.0 has been released, solving most if not all things discussed in this issue.

[2020-07-28 12:01] #292 closed

[2020-07-28 12:03] JeroenVanOort commented on #304
1.5.0 has been released. I will soon set goals for 1.6, or 2.0 if things can't be done without breaking BC.

[2020-07-28 12:03] #304 closed

[2020-08-19 16:56] felipead opened #327 "PHP-VCR does not work with wp_remote_post and wp_remote_get from WordPress"
I'm trying to record some HTTP requests generated by WordPress HTTP functions, such as `wp_remote_post` and `wp_remote_get`.

PHP-VCR is able to successfully record the HTTP request using the `curl` library hook and store it in either YAML or JSON format.

However, the HTTP request throws an error on the application code, no matter how many times I try to run the test:

[code]

The error goes away

[2020-08-19 17:53] felipead opened #328 "PHP-VCR 1.5.0 generates fatal error with wp_remote_post and wp_remote_get from WordPress"
I'm trying to record some HTTP requests generated by WordPress HTTP functions, such as [`wp_remote_post`](https://developer.wordpress.org/reference/functions/wp_remote_post/) and [`wp_remote_get`](https://developer.wordpress.org/reference/functions/wp_remote_get/).

When using PHP-VCR 1.4.5, I get the error described in #327.

If I upgrade to PHP-VCR 1.5.0 (latest), I get the following error:

[co

[2020-08-20 08:18] JeroenVanOort commented on #328
Which version of the Symfony event dispatcher are you using?

[2020-08-21 00:30] felipead commented on #328
Symfony dispatcher has been automatically installed as a php-vcr dependency by [Composer](https://getcomposer.org). Looking at `composer.lock` I can see it is using Symfony dispatcher version 5.1.3.

[code]

[2020-09-01 18:59] matt-allan commented on #309
I believe this happens with the Laravel HTTP client because it uses the [`on_stats` Guzzle option](http://docs.guzzlephp.org/en/stable/request-options.html#on-stats). The `on_stats` option tries to call `curl_getinfo($h, \CURLINFO_APPCONNECT_TIME)`, and that fails because VCR can't mock all of the `curl_getinfo` options.

To reproduce this you can record a fixture using the curl hook that calls `c

[2020-11-15 18:21] pvgnd opened #329 "Symfony HttpClient compatibility"
php-vcr does not seems to work with Symfony HttpClient. Here is the error:
`RuntimeException: Unexpected error, could not find curl_getinfo in response or errors`

[2020-11-15 18:23] pvgnd commented on #329
I added integration tests but any help would be appreciated to identify the issue preventing php-vcr to work with Symfony HttpClient

[2020-11-21 16:00] JeroenVanOort opened #332 "Current master has failing tests"
As you may have noticed, the current master fails on Travis at this moment. I've already fixed a small phpstan error in my branch `debugging-travis`. But some tests are failing too.

After updating my local environment, I've been able to reproduce the problems with the tests for PHP 7.3 (didn't try, but I don't expect 7.4 to be any different). However, I'm not sure yet what causes these problems a

[2020-11-21 20:18] pvgnd commented on #332
@JeroenVanOort fix proposition here: https://github.com/php-vcr/php-vcr/pull/333

[2020-11-22 03:45] specialtactics commented on #332
Thanks for looking into this!

[2020-11-22 10:04] #332 closed

[2020-12-11 14:10] nicodemuz commented on #134
I'm having a very similar issue. Using latest version of php-vcr (1.5.1):

[code]

[2021-01-19 12:34] zebraf1 opened #336 "Incompatibility with symfony/event-dispatcher"
Using php-vcr 1.5 conflicts with symfony/event-dispatcher 5.0

requires symfony/event-dispatcher: ^2.4|^3.0|^4.0|^5.0

** How to reproduce: **
* install php-vcr ^1.5
* install symfony/event-dispatcher ^5.0

[TypeError] Argument 1 passed to Symfony\Component\EventDispatcher\EventDispatcher::dispatch() must be an object, string given, called in .../vendor/php-vcr/php-vcr/src/VCR/Videorecorder.php on

[2021-01-19 12:38] zebraf1 commented on #336
https://github.com/php-vcr/php-vcr/commit/3d88f89ae2f915471043ebe61ff964937bc246d6#diff-8f9fb128fc0a304a8c6dcd7ba61771a13170c368a48a9fabf993fc097416469fR104

This code should make the code compatible with 5.0 also. So it is weird that my project finds \Symfony\Component\EventDispatcher\Event::class exists

[2021-01-19 12:42] zebraf1 commented on #336
If you use codeception/codeception ^4.1.15 then you will have Event::class at that namespace due to this change:

https://github.com/Codeception/Codeception/commit/15ba342b6511d0557435182d815690aa6b8e6aef
[code]

[2021-01-19 12:57] zebraf1 commented on #336
So the problem is that @pauladams8 assumed that if Event class is missing then project is using the new interface For EventDispatcher, but @natikbalda added an alias for this class in Codeception for bc.

So you cannot use Codeception/codeception 4.1.15 with php-vcr 1.5 unless you restrict a package from upgrading in composer.json:

"symfony/event-dispatcher": "<5.0"
OR
"codeception/codeception":

[2021-01-19 13:03] zebraf1 commented on #336
Of course changing an interface in such a way is bound to cause problems in other libraries. Tsk tsk.

[2021-01-19 15:51] Naktibalda commented on #336
This issue will be fixed in Codeception 5.0.0 in February.

[2021-01-19 15:58] Naktibalda commented on #336
The best way to check if EventDispatcher supports new interface was implemented by https://github.com/Codeception/Codeception/pull/6066/files

[code]

[2021-01-29 07:07] Ilyes512 opened #337 "PHP 8 is_resource() backwards incompatible"
I tried using this library with PHP 8 and had to make a small change to make it work. For more info about the reason why, see https://github.com/beberlei/assert/issues/312

I have fork of this library that I currently use to "fix" the issue... just not sure if this is the way to go. See https://github.com/signet-connectivity/php-vcr

You can see a diff here: https://github.com/php-vcr/php-vcr/comp

[2021-02-10 10:32] Khartir opened #338 "Add support for curl_multi_getcontent"
Would it be possible to add support for `curl_multi_getcontent`? Currently this does not seem to be supported or am I overlooking something?

[2021-03-09 08:29] JeroenVanOort opened #341 "Migrate from Travis to Github actions"
From what I understand, Travis will stop soon and builds are slow anyway. I'll do my best to work on this myself, but anyone is welcome to open a PR.

If at all possible, I think it would be good if the project's docker file is used for the CI too.

[2021-03-16 07:36] KJS1124 opened #343 "Add support for http header in soap call"
will it be possible to add the http headers in the request while recording specifically in SOAP calls. Some calls are having extra headers like:- https://smartbear-cc.force.com/portal/KbArticleViewer?name=How-to-send-a-SOAP-request-with-the-OAuth-authorization&sp=all

[2021-03-20 10:01] #338 closed

[2021-03-20 10:16] JeroenVanOort commented on #112
I'm closing this issue because it has not seen any activity for many years. If anyone feels this is still a problem, please open a new issue.

[2021-03-20 10:16] #112 closed

[2021-03-20 10:18] JeroenVanOort commented on #196
I'm closing this issue because it has not seen any activity for many years. If anyone feels this is still a problem, please open a new issue.

[2021-03-20 10:18] #196 closed

[2021-03-20 10:18] JeroenVanOort commented on #194
I'm closing this issue because it has not seen any activity for many years. If anyone feels this is still a problem, please open a new issue.

[2021-03-20 10:18] #194 closed

[2021-03-23 17:07] aksonnic commented on #174
For anyone searching for this, I've got a PR #344  submitted. Reviews/comments welcome.

[2021-03-25 15:45] dchw commented on #341
I'm willing to help out here! I think I could help speed it up, and incorporate the `Dockerfile` by introducing an [`Earthfile`](https://earthly.dev). Would be willing to see it through if you are game?

[2021-04-04 01:40] cole-flexsim commented on #308
I think that I have found the problem. In normal curl requests an empty SOAPAction header is formatted like so:
```SOAPAction;```

this package uses the CurlHelper::setCurlOptionOnRequest function in ```src/VCR/Util/CurlHelper.php``` to set the curl options when the curl_setopt function is overridden in ```src/VCR/LibraryHooks/CurlHook.php:363```

the setCurlOptionOnRequest function is as follows:

[2021-04-26 05:05] vtnlinh95 opened #347 "CurlHook:curlExec does not return true"
CurlHook:curlExec is expected to return true. However, it returns null all the time so it makes my test failed

[2021-04-26 05:15] rabdavinci opened #348 "CURL record works inside tests but does not work outside"
# Description
`CURL` record works inside tests.
`CURL`  does not work outside tests.

# Environments
---|---|
PHP|7.4.3

#  mt code
[code]

[2021-05-12 05:26] Justintime50 opened #349 "Error: Could not init curl with URL ... (Guzzle + VCR)"
# Summary

I'm attempting to record cassettes with VCR and Guzzle and am getting the following error: `Could not init curl with URL ...` which is [thrown here](https://github.com/php-vcr/php-vcr/blob/989fdcad482d830890757b8165127ed0183de41b/src/VCR/Util/HttpClient.php#L26). After hours of trial and error, I decided to simply remove this assertion from the vendor VCR library and it happily recorded

[2021-05-12 05:36] Justintime50 commented on #348
Can you elaborate on "does not work"? What error do you get? What do you expect to happen but doesn't?

[2021-05-13 09:16] robertpustulka opened #350 "VCR::turnOff() does not restore stream wrappers"
Looks like Soap and Curl Hooks don't restore the original stream wrapper when calling `disable()`:

https://github.com/php-vcr/php-vcr/blob/master/src/VCR/LibraryHooks/CurlHook.php#L93-L122

https://github.com/php-vcr/php-vcr/blob/master/src/VCR/LibraryHooks/SoapHook.php#L95-L122

`$this->processor->restore()` should be called to effectively restore the original wrapper.

[2021-05-18 16:00] Justintime50 commented on #341
Looks like it's currently in the works: https://github.com/php-vcr/php-vcr/pull/345

[2021-05-18 17:53] Justintime50 commented on #349
Just found this: https://github.com/php-vcr/php-vcr/pull/351. Could be related as I'm using PHP8.

[2021-05-19 04:55] Justintime50 commented on #349
Simply downgrading to PHP 7 did the trick for me. Interested to see this library gain PHP8 compatibility.

[2021-05-19 04:55] #349 closed

[2021-06-08 21:59] bit4bit opened #352 "how hide request headers on cassette?"
hi, cassette save request headers like this:

[code]

i like not save tokens or other values on cassette.

thanks any help

[2021-06-09 00:35] allejo commented on #352
There's #344 or a workaround of https://github.com/allejo/php-vcr-sanitizer

[2021-06-20 02:34] bit4bit commented on #352
@allejo it's works, will be great as core feature

[2021-06-20 02:34] #352 closed

[2021-07-22 18:14] federicoemartinez commented on #336
Hi!
We are facing the same issue. Will this be released?

[2021-07-30 15:23] igaster opened #353 "PHP8: curl_init() is not returning a resource anymore"
In PHP8, calling `curl_init()` in [VCR/Util/HttpClient](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Util/HttpClient.php#L24), will return a `CurlHandle` object, which is not a resource anymore (See comment about PHP8.0 [here](https://www.php.net/manual/en/function.curl-init)). As a result the [Assertion::isResource()](https://github.com/php-vcr/php-vcr/blob/master/src/VCR/Util/HttpClien

[2021-07-30 15:29] igaster commented on #353
Duplicate of https://github.com/php-vcr/php-vcr/issues/337

[2021-07-30 15:29] #353 closed

[2021-08-22 09:39] JeroenVanOort commented on #341
Fixed.

[2021-08-22 09:39] #341 closed

[2021-10-15 01:56] mha6992 opened #359 "curl_exec might face the same issue of private method when the hook is disabled"
https://github.com/php-vcr/php-vcr/blob/180d5b6571fcfbf271bc0d5b90ddff409712474f/src/VCR/LibraryHooks/CurlHook.php#L119

https://github.com/php-vcr/php-vcr/commit/3f13b2bc9c0690155281d6f296d13829382c14cd

[2021-11-26 10:59] veewee opened #360 "PHP 8.1 Compatibility"
While using php-vcr, some deprecations pop up.
Example:

- Deprecated: Return type of VCR\Storage\Yaml::valid() should either be compatible with Iterator::valid(): bool, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice
- Deprecated: Return type of VCR\Storage\AbstractStorage::current() should either be compatible with Iterator::current(): mixed, or the #[

[2021-12-08 20:05] #296 closed

[2022-01-06 13:52] nicodemuz commented on #329
Seems like this call in Symfony client is causing the error for me:
https://github.com/symfony/symfony/blob/6.1/src/Symfony/Component/HttpClient/Response/CommonResponseTrait.php#L143

[2022-01-24 23:16] Justintime50 commented on #360
I too would like to see this fixed. I'm open to putting up a PR but see there are a bunch of unmerged PRs from years passed and am hesitant to do the work if it won't get merged.

[2022-02-23 17:14] whikloj opened #363 "BadMethodCallException: Not implemented: CURLINFO_EFFECTIVE_URL (1048577)"
In a curl multihandle I use this curlinfo option to get the current handle's URL. It appears relatively easy to fix, but I'm also very new to php-vcr.

[2022-05-23 13:14] etienneleba commented on #360
UP, I need it too, is the project still alive ? I see a lot contributions but no one to merge...

[2022-06-13 10:27] medhki opened #367 "compatibility Symfony 6 (YAML v6)"
Installing the package for a symfony 6 project:
 **php-vcr/php-vcr 1.6.0 requires symfony/yaml ^3.0|^4.0|^5.0 -> found symfony/yaml[v3.0.0, ..., v3.4.47, v4.0.0, ..., v4.4.37, v5.0.0, ..., v5.4.3] but it conflicts with your root composer.json require (6.0.*)**

[2022-09-05 19:14] Xusifob commented on #360
That would be great indeed

Is the owner open for new maintainers to take over the project / Help with PR & Issues ?

[2022-10-06 04:45] specialtactics commented on #367
Hey guys feel free to use our fork, we're a company so we will likely look after this package for some time.
https://github.com/CoverGenius/php-vcr